<font color = blue> First of all, we have to import some libraries: </font>

In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
color = sns.color_palette()
import zipfile
import re
from scipy import stats
from sklearn.preprocessing import RobustScaler
from catboost import CatBoostRegressor
from tqdm import tqdm
import gc
import datetime as dt

<font color = blue> Data loading and merging to get the 'logerror' which is our target: </font>

In [2]:
prop = pd.read_csv('./data/properties_2016.csv')
train = pd.read_csv('./data/train_2016_v2.csv')
data = pd.merge(train, prop, on='parcelid', how='left')
data.head()

/Users/emachado/miniconda3/envs/ironhack/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,parcelid,logerror,transactiondate,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,11016594,0.0276,2016-01-01,1.0,NaN,NaN,2.0,3.0,NaN,4.0,...,NaN,NaN,122754.0,360170.0,2015.0,237416.0,6735.88,NaN,NaN,6.037107e+13
1,14366692,-0.1684,2016-01-01,NaN,NaN,NaN,3.5,4.0,NaN,NaN,...,NaN,NaN,346458.0,585529.0,2015.0,239071.0,10153.02,NaN,NaN,NaN
2,12098116,-0.0040,2016-01-01,1.0,NaN,NaN,3.0,2.0,NaN,4.0,...,NaN,NaN,61994.0,119906.0,2015.0,57912.0,11484.48,NaN,NaN,6.037464e+13
3,12643413,0.0218,2016-01-02,1.0,NaN,NaN,2.0,2.0,NaN,4.0,...,NaN,NaN,171518.0,244880.0,2015.0,73362.0,3048.74,NaN,NaN,6.037296e+13
4,14432541,-0.0050,2016-01-02,NaN,NaN,NaN,2.5,4.0,NaN,NaN,...,2.0,NaN,169574.0,434551.0,2015.0,264977.0,5488.96,NaN,NaN,6.059042e+13

In [3]:
data.shape

(90275, 60)

In [4]:
data['transactiondate'] = [''.join(x.split('-')[0:2]) for x in data['transactiondate']]
data['transactiondate'].value_counts()

201606    10922
201608    10476
201605     9961
201607     9947
201609     9575
201604     9311
201603     8652
201601     6556
201602     6333
201610     4977
201611     1826
201612     1739
Name: transactiondate, dtype: int64

In [5]:
data.columns

Index(['parcelid', 'logerror', 'transactiondate', 'airconditioningtypeid',
       'architecturalstyletypeid', 'basementsqft', 'bathroomcnt', 'bedroomcnt',
       'buildingclasstypeid', 'buildingqualitytypeid', 'calculatedbathnbr',
       'decktypeid', 'finishedfloor1squarefeet',
       'calculatedfinishedsquarefeet', 'finishedsquarefeet12',
       'finishedsquarefeet13', 'finishedsquarefeet15', 'finishedsquarefeet50',
       'finishedsquarefeet6', 'fips', 'fireplacecnt', 'fullbathcnt',
       'garagecarcnt', 'garagetotalsqft', 'hashottuborspa',
       'heatingorsystemtypeid', 'latitude', 'longitude', 'lotsizesquarefeet',
       'poolcnt', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7',
       'propertycountylandusecode', 'propertylandusetypeid',
       'propertyzoningdesc', 'rawcensustractandblock', 'regionidcity',
       'regionidcounty', 'regionidneighborhood', 'regionidzip', 'roomcnt',
       'storytypeid', 'threequarterbathnbr', 'typeconstructiontypeid',
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
       'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear',
       'censustractandblock'],
      dtype='object')

In [6]:
data['propertylandusetypeid'].value_counts()

261.0    60637
266.0    22815
246.0     2376
269.0     2334
248.0      879
247.0      629
265.0      356
263.0       84
260.0       62
275.0       46
267.0       28
31.0        17
264.0       11
47.0         1
Name: propertylandusetypeid, dtype: int64

In [7]:
data['heatingorsystemtypeid'].value_counts()

2.0     38303
7.0     15519
24.0     1071
6.0       970
20.0       97
13.0       76
18.0       25
1.0        13
14.0        2
10.0        2
11.0        1
12.0        1
Name: heatingorsystemtypeid, dtype: int64

In [8]:
data['typeconstructiontypeid'].value_counts()

6.0     296
4.0       2
13.0      1
Name: typeconstructiontypeid, dtype: int64

In [9]:
data['airconditioningtypeid'].value_counts()

1.0     26668
13.0     1833
5.0       215
11.0       63
9.0         1
3.0         1
Name: airconditioningtypeid, dtype: int64

In [10]:
data['buildingclasstypeid'].value_counts()

4.0    16
Name: buildingclasstypeid, dtype: int64

In [11]:
data['regionidcity'].unique()

array([ 12447.,  32380.,  47019.,  17686.,  29712.,  24174.,  13150.,
        25459.,  46098., 396054.,  52650.,  17150.,  25218.,  53655.,
        46298.,  34780.,  47568.,  24832.,   5465.,  40227.,  54311.,
        10389.,  21412.,   6395.,  33252.,  25458.,  24384.,  20008.,
        33836.,   8384.,  24812.,  53571.,  51617.,  45888.,  45457.,
        15554.,  24245.,  16764.,  27110.,  40081.,  41673.,  34278.,
        12773.,  16389.,  42150.,  54970.,     nan,  52842.,  34543.,
        15237.,  53636.,  37688.,  13693.,   5534.,  54722.,  50749.,
        51239.,  27491., 118225.,  27103.,  13091.,  33837.,  50677.,
        10608.,  10723.,  48424.,  47762.,   6021.,   9840.,  18874.,
        38032.,  44833.,  24435.,  12292.,  10774.,  37015., 396556.,
        45602.,  33311.,  33612.,  44116.,  10241.,  25974.,  21778.,
        14634.,  11626.,  40009.,  14542.,  30187.,  32923.,  26483.,
        26531.,  14906.,  14111.,  26964.,  18875.,  30908.,  13716.,
        39306., 118914.,  38980.,  25621.,  51861., 118878.,  34636.,
         4406.,  17882.,  30399.,  46314.,  29189.,  12520.,  19177.,
        54053.,  37086.,  54299., 396053.,  52835.,  53027.,  39308.,
        47547., 116042., 118694.,  32616.,  42967.,  16677., 118994.,
        22827.,  33840., 396550., 113576.,  34037., 118875.,  45398.,
       118217.,  54212., 114828., 396551.,  40110.,  46178.,  47695.,
        27183.,  55753.,  25953.,  10734., 118895.,  46080., 272578.,
        47198.,  17597.,  13232.,   3491.,  39076.,  33727.,  30267.,
        32753.,  56780.,  54352.,  42091., 114834.,  26965.,  32927.,
        25468.,  16961., 113412.,  36502.,  18098.,  13311.,  33312.,
        25271.,   6822.,  10815.,  53162.,  31134., 118880.,  37882.,
        24797.,  21395.,   6285.])

In [12]:
data['regionidcounty'].unique()

array([3101., 1286., 2061.])

In [13]:
data['regionidneighborhood'].unique()

array([ 31817.,     nan, 275411.,  54300.,  51906.,  19810., 273096.,
       274961.,  47950., 276476.,   7877., 273567.,  37739., 416320.,
       274359.,  40215.,  40548., 268509., 275738., 275426., 118208.,
        48570., 114914., 762187., 275396., 113455., 268134., 403197.,
        47880.,  13327., 273252., 274800., 276606., 268473., 276450.,
        46736., 274828.,  28119.,  27080., 113749., 116302., 274895.,
        13017., 276157., 268496.,  27328.,  27484., 403142., 275470.,
       275695., 274750., 268548., 118849., 118872., 417224., 273197.,
       268249.,  46795., 403196., 268002., 116375.,  21056., 113910.,
       276119.,  48200., 113688., 274049., 115609., 275496., 114246.,
        32368., 275994.,   6952., 113886., 403192., 116774., 275405.,
       268097.,  41466., 118825.,  37835., 275884., 272968., 273539.,
       416304.,  34213.,  41131., 275958., 268588.,  32059., 117954.,
       274684., 274513., 274514., 275111., 762685., 403184.,  33183.,
       276256., 275824., 259606., 274371., 275856., 273837., 274293.,
       276514., 273825., 275989., 276486., 416330., 273198.,  13176.,
       274815., 275785., 275428., 274582., 764164., 762179., 416329.,
       118920., 268482., 268551.,  27431., 623382., 274517., 268404.,
       764108., 117183., 762928., 275024.,  38888., 416964.,  26134.,
       416306., 273486., 268581., 272737., 116415., 343505., 118887.,
        30731., 275795., 268057., 416331., 114808., 274695., 155228.,
       275857., 268010., 403183., 416302., 416967., 275257., 274765.,
       762186., 268244., 274425., 116206., 268323., 115836., 761545.,
       763094., 275078., 764141., 274262., 273834., 761215., 268604.,
       275979., 762190., 273059., 762175., 275826., 762683.,  48516.,
       763218., 416312., 273400., 764095., 268596., 274392., 416334.,
       762931., 115729., 764088., 276023., 275784., 156012., 273257.,
       761542., 116646., 761546., 274494., 268546., 268160., 268157.,
       268118., 268392., 761547., 274940., 273611., 191484., 275129.,
       276121., 276258., 275067., 762177., 265889.,  25449.,  27987.,
       268403., 273930., 403191., 273868., 403190., 762181., 403193.,
       273263., 762930., 275340., 763220., 268055., 764087., 224568.,
       762949., 268454., 268236., 275207., 416347., 416318., 763219.,
       272933., 764106., 761097., 268441., 115657., 764105.,  33952.,
       275512., 268288., 761211., 268268., 764107., 274857., 273617.,
       272725., 272969., 762185., 416307., 268162., 276293., 416338.,
       416333., 113713., 416315., 416310., 416303., 268007., 268540.,
       117148., 275567., 274705., 623381., 116430., 268132., 623379.,
       117023., 762962., 274587., 761210., 268316., 273109., 762189.,
       417433., 761222., 403195., 416309., 273339., 416350., 268293.,
       268453., 416966., 116692., 761055., 762184., 761218., 268430.,
       763680., 764147., 762178., 268413., 274358., 764142., 623378.,
       272732., 260611., 764101., 416313., 116828., 764094., 762956.,
       416305., 416308., 764144., 761541., 763012., 273041., 416336.,
       214079., 416339., 273890., 268269., 757352., 764166., 416317.,
       761543., 416319., 268334., 274995., 416860., 761223., 268585.,
       416314., 262098., 764098., 763679., 762527., 762959., 275130.,
       417225., 764089., 276449., 276257., 268602., 273168., 268103.,
       416346., 763789., 623380., 273572., 763011., 275916., 275300.,
       275339., 762940., 761221., 276581.,  19265., 762942., 416965.,
        30685., 762944., 416332., 763090., 268208., 275210., 416343.,
       416316., 276461., 764109., 763527., 259818., 268253., 403194.,
       763169., 273663., 268605.,  36630., 762929., 762188., 416344.,
       761220., 763080., 416335., 274580., 762183., 762945., 274343.,
       268050., 761544., 260382., 273633., 762948., 762955., 763171.,
       762684.,  22655., 762950., 403127., 761099., 764167., 764135.,
       764134., 762961., 268587., 764143., 623377., 273042., 274418.,
       267436., 118106., 763089., 273789., 763170., 268451., 416349.,
       762682., 762938., 764102., 764140., 273791., 416342., 268144.,
       272912., 273615., 273677., 764090., 762951., 761214., 764096.,
       764099., 763172., 411433., 764165., 268572.,  11950., 762947.,
       273866., 764074., 762934., 762963., 275778., 764104., 416873.,
       416345., 762952., 416337., 764103., 762957., 762939., 762890.,
        51224., 764097., 760999., 246825., 273313., 764136., 267814.,
       764148., 248165., 276061., 115656., 764152., 762935., 764145.,
       762946., 764093., 762180., 764138., 763185., 416963., 416341.,
       220669., 761094., 764149., 272170., 266606., 135143., 276299.,
       761098., 763791., 761001., 762191., 273607., 761000., 416311.,
       268291., 273350., 259315., 762192., 761219., 416340., 762927.,
       763217., 762953., 268446., 114909., 763079., 276348., 764139.,
       761090., 762932., 275287., 762960., 762937.])

In [14]:
data['regionidzip'].unique()

array([ 96370.,  96962.,  96293.,  96222.,  96961.,  96109.,  96091.,
        97101.,  96987.,  96963.,  96426.,  96120.,  96437.,  96947.,
        97035.,  96964.,  96393.,  96238.,  96990.,  96379.,  96239.,
        97001.,  97052.,  96026.,  97050.,  96190.,  97329.,  96349.,
        96374.,  96088.,  96242.,  96008.,  96361.,  96364.,  97007.,
        97078.,  96220.,  97004.,  96295.,  97067.,  96043.,  97048.,
        96387.,  96971.,  96013.,  96505.,  96506.,  96513.,  97008.,
        97041.,  96978.,  96097.,  96133.,  96324.,  96993.,  96474.,
        97026.,  96007.,  96952.,  97116.,  96447.,  96436.,  97005.,
        96384.,  96475.,  96383.,  96996.,  96986.,  96072.,  96107.,
        96965.,  97020.,  96247.,  97106.,  96995.,  97059.,  96169.,
        96028.,  96020.,  96969.,  96029.,  96351.,  96974.,  97083.,
        96183.,  96957.,  97107.,  96420.,  96193.,  96058.,  97065.,
        97039.,  96337.,  96982.,  96507.,  97319.,  96159.,  96369.,
        96240.,  95984.,  96268.,  97091.,  96282.,  96090.,  96284.,
        96173.,  96045.,  97024.,  96234.,  97099.,  97318.,  96092.,
        96162.,  97047.,  96451.,  96515.,  95983.,  96989.,  97344.,
        97023.,  97021.,  95992.,  96368.,  96531.,  96181.,  96412.,
        96230.,  96027.,  96125.,  97040.,  96497.,  97018.,  96127.,
        96449.,  96336.,  96186.,  96030.,  96958.,  96424.,  96966.,
        96948.,  96378.,  96185.,  96385.,  96270.,  96049.,  96377.,
        96023.,  96508.,  96213.,  96048.,  96488.,  96415.,  96433.,
        96206.,  96161.,  96464.,  96373.,  96044.,  96174.,  97027.,
        95987.,  96489.,  96121.,  96124.,  96983.,  96208.,  96465.,
        96046.,  96294.,  97097.,  95989.,  96216.,  96087.,  96016.,
        96171.,  96414.,  96134.,  96163.,  97328.,  96486.,  96126.,
        97079.,  96346.,  96975.,  96956.,  97037.,  96524.,  96265.,
        96273.,  96197.,  96322.,  97068.,  96241.,  96292.,  96050.,
        96246.,  96375.,  96517.,  96149.,  97330.,  96450.,  96342.,
        96009.,  96006.,  96981.,  96967.,  96291.,  96469.,  96201.,
        96341.,  96980.,  96212.,  96452.,  96019.,  96024.,  96000.,
        97066.,  97324.,  96940.,  96410.,  96479.,  97118.,  96047.,
        96160.,  96325.,  96244.,  96355.,  96522.,  96128.,  96101.,
        97089.,  96939.,  96356.,  96321.,  96100.,  95997.,  96229.,
        96403.,  96003.,  96129.,  96083.,  95986.,  95988.,  96354.,
        96954.,  97025.,  97051.,  97003.,  96411.,  96218.,  97323.,
        96116.,  96473.,  96525.,  96117.,  96330.,  96122.,  96533.,
        96005.,  96296.,  95985.,  95996.,  96973.,  95982.,  96998.,
        96217.,  96015.,  96123.,  96389.,  97064.,  96352.,  96025.,
        96494.,  96434.,  96236.,  96215.,  96366.,  96037.,  96237.,
        96438.,  96113.,  96339.,  97084.,  96951.,  96496.,  95994.,
        96401.,  96485.,  96022.,  96017.,  96327.,  96180.,  96203.,
        96086.,  96326.,  96221.,  97063.,  96095.,  97317.,  97298.,
        96979.,  96012.,  96042.,  96152.,  96480.,  95999.,  95993.,
        96492.,  96010.,  96985.,  96395.,  97119.,  97081.,  96018.,
        96943.,  96106.,  96510.,  96172.,  96001.,  96228.,  97098.,
        96245.,  96104.,  97043.,  96278.,  96280.,  96103.,  97104.,
        96192.,  97016.,  96398.,  96959.,  96941.,  97006.,  96271.,
        96170.,  96021.,  96523.,  96151.,  96371.,  96150.,     nan,
        96207.,  96110.,  96102.,  96323.,  96289.,  96204.,  96014.,
        96946.,  96446.,  96490.,  96514.,  96137.,  96038.,  97331.,
        96136.,  96105.,  97109.,  96320.,  96210.,  96119.,  96478.,
        96267.,  96225.,  96004.,  96338.,  96111.,  96275.,  97113.,
        96040.,  97316.,  95998.,  96002.,  96135.,  97094.,  97108.,
        96148.,  95995., 399675.,  95991.,  96329.,  96500.,  96039.,
        96467.,  96034.,  97111.,  96226.])

In [15]:
data['regionidzip'].isnull().sum()

35

In [16]:
data['buildingqualitytypeid'].unique()

array([ 4., nan,  1.,  7., 12., 10.,  8.,  6., 11.])

In [17]:
data['pooltypeid10'].value_counts()

1.0    1161
Name: pooltypeid10, dtype: int64

In [18]:
data['hashottuborspa'].replace(True,1.0)

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       1.0
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
        ...
90245    NaN
90246    NaN
90247    NaN
90248    NaN
90249    NaN
90250    NaN
90251    NaN
90252    NaN
90253    NaN
90254    NaN
90255    NaN
90256    NaN
90257    NaN
90258    NaN
90259    NaN
90260    NaN
90261    NaN
90262    NaN
90263    NaN
90264    NaN
90265    NaN
90266    NaN
90267    NaN
90268    NaN
90269    NaN
90270    NaN
90271    NaN
90272    NaN
90273    NaN
90274    NaN
Name: hashottuborspa, Length: 90275, dtype: float64

In [19]:
data['hashottuborspa'].value_counts()

True    2365
Name: hashottuborspa, dtype: int64

In [20]:
data['bathroomcnt'].value_counts()

2.0     36534
3.0     19946
1.0     15035
2.5      8091
4.0      3743
1.5      1641
0.0      1165
5.0      1142
3.5      1091
4.5       795
6.0       448
5.5       253
7.0       155
8.0       114
6.5        54
9.0        36
10.0       14
7.5         9
11.0        3
12.0        3
8.5         1
20.0        1
15.0        1
Name: bathroomcnt, dtype: int64

In [21]:
data['calculatedbathnbr'].value_counts()

2.0     36534
3.0     19946
1.0     15035
2.5      8084
4.0      3743
1.5      1636
5.0      1142
3.5      1088
4.5       793
6.0       448
5.5       253
7.0       155
8.0       114
6.5        54
9.0        36
10.0       14
7.5         9
11.0        3
12.0        3
8.5         1
20.0        1
15.0        1
Name: calculatedbathnbr, dtype: int64

In [22]:
data['bath_count'] = data[['bathroomcnt', 'calculatedbathnbr']].max(axis=1)
data['bath_count'].value_counts()

2.0     36534
3.0     19946
1.0     15035
2.5      8091
4.0      3743
1.5      1641
0.0      1165
5.0      1142
3.5      1091
4.5       795
6.0       448
5.5       253
7.0       155
8.0       114
6.5        54
9.0        36
10.0       14
7.5         9
11.0        3
12.0        3
8.5         1
20.0        1
15.0        1
Name: bath_count, dtype: int64

In [23]:
data['hot_tub_spa'] = data['hashottuborspa'] + data['pooltypeid10'].map(bool)
data['hot_tub_spa'].value_counts()
data['hot_tub_spa'].replace(2,1)

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       1.0
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
        ...
90245    NaN
90246    NaN
90247    NaN
90248    NaN
90249    NaN
90250    NaN
90251    NaN
90252    NaN
90253    NaN
90254    NaN
90255    NaN
90256    NaN
90257    NaN
90258    NaN
90259    NaN
90260    NaN
90261    NaN
90262    NaN
90263    NaN
90264    NaN
90265    NaN
90266    NaN
90267    NaN
90268    NaN
90269    NaN
90270    NaN
90271    NaN
90272    NaN
90273    NaN
90274    NaN
Name: hot_tub_spa, Length: 90275, dtype: float64

In [24]:
data['finishedsquarefeet6'].unique()

array([  nan, 2921.,  605., 3112., 1809.,  858., 1446., 2592., 1488.,
       3173.,  624., 3100., 3718., 2652., 3000., 1154., 1462., 3752.,
       1078., 2388., 4379., 2195., 3087., 3891., 4184., 4087., 3355.,
        650., 3762., 1280., 1415., 4249., 4225., 4355.,  720., 2467.,
       1009., 4442., 1824., 2175., 1008., 1920., 2576., 1036., 3278.,
       4321., 4369., 1326., 1658., 1256., 1886., 6338., 3603., 1027.,
       1750., 5300., 1316., 4345., 2194., 4076., 1975., 1070., 1180.,
       2647.,  836., 4699., 3469., 3530., 3551., 2486., 2075., 3540.,
       2100., 1650., 1443., 1876., 3707., 1654.,  765.,  842., 1679.,
       1541.,  960., 1000., 1092., 2530.,  854., 2498., 2628., 1776.,
        736., 3565., 2191.,  686.,  988.,  952.,  820., 1517., 3933.,
       1670.,  360., 3240., 3234., 1484., 1777.,  972., 4895., 1152.,
       2585., 2339., 1135., 4788., 1216., 2293., 3462., 5287., 4302.,
        980., 3845.,  931.,  944., 1290., 1416., 1430., 2172., 1629.,
        844.,  684., 2630.,  873., 2052., 2743., 3470., 2048.,  700.,
       3886., 3368., 1591., 1224., 3055., 2537.,  935.,  722., 1080.,
       4967., 1556., 1228., 3431., 3163., 1471.,  882., 5229., 1320.,
       2460.,  572., 1904., 2662., 4553., 2517.,  300., 4303., 1248.,
       2260., 1820., 2686.,  991., 3300., 1593., 2323., 4452., 1553.,
        899., 4869., 2428., 1926., 3388.,  800., 1879., 1106.,  728.,
       3004., 1794., 1674., 1835., 3164., 3986., 4380., 3844., 1847.,
       3515.,  783., 4692., 1843., 2224., 2180., 2650., 3527., 3882.,
       3377., 1044., 2241., 2046.,  672., 4414., 1482., 2294., 3912.,
       4206.,  880., 1208., 2859., 1645., 4174., 1029.,  924., 1730.,
       3728., 1492., 1006.,  839., 1376., 2582., 1346., 1140., 1212.,
       2303.,  967., 6337., 3828.,  824.,  760., 1712., 3432., 4446.,
        529., 2041.,  384.,  598.,  731., 1590., 1878., 3380., 1604.,
       1790., 1016.,  786., 3160., 3732., 2193.,  732.,  956., 3525.,
       2153.,  480., 1360., 3681., 4996.,  438., 1102., 1605., 3192.,
       5268., 2361., 4274., 2277., 1457., 1844., 4352., 2028., 2898.,
        954.,  531., 2490., 2179.,  754., 2252., 2670., 1082.,  784.,
       3600., 2870., 1600., 2631., 4102., 3996.,  726., 1921., 1328.,
        257., 1759., 3500., 1163., 1986., 3988., 1816., 1880., 2068.,
       3150., 2556., 2754., 7224.,  666., 1409., 1589.,  852., 3554.,
       1518., 4209., 3952., 1682.,  520., 4304., 2376., 4288.,  816.,
        993., 1874., 4790.,  837.,  900., 3621., 3722., 4273., 2202.,
       2237., 1104., 2363., 2103., 4520.,  922., 1112., 2564., 1451.,
       1448., 3032., 3837., 3488., 1151., 1810., 1531.,  735., 2760.,
       1074., 2663., 1780., 4600., 4773., 3423., 3801., 3780.,  856.,
       1968., 2291., 1888., 2430., 3071., 2235., 2106., 6265., 3750.,
       1508.])

In [25]:
data['buildingqualitytypeid'].isnull().sum()

32911

In [26]:
data['buildingclasstypeid'].isnull().sum()

90259

In [27]:
data.shape

(90275, 62)

In [28]:
data = data.drop(columns=['finishedsquarefeet12', 'propertycountylandusecode', 'propertyzoningdesc', 'calculatedbathnbr', 'bathroomcnt', 'fullbathcnt', 'hashottuborspa', 'finishedfloor1squarefeet', 'finishedsquarefeet50', 'finishedsquarefeet15', 'yardbuildingsqft17', 'taxdelinquencyflag', 'taxdelinquencyyear', 'pooltypeid10', 'decktypeid', 'finishedsquarefeet6', 'typeconstructiontypeid', 'architecturalstyletypeid', 'fireplaceflag', 'yardbuildingsqft26', 'basementsqft', 'storytypeid', 'finishedsquarefeet13', 'buildingclasstypeid'])
data.columns

Index(['parcelid', 'logerror', 'transactiondate', 'airconditioningtypeid',
       'bedroomcnt', 'buildingqualitytypeid', 'calculatedfinishedsquarefeet',
       'fips', 'fireplacecnt', 'garagecarcnt', 'garagetotalsqft',
       'heatingorsystemtypeid', 'latitude', 'longitude', 'lotsizesquarefeet',
       'poolcnt', 'poolsizesum', 'pooltypeid2', 'pooltypeid7',
       'propertylandusetypeid', 'rawcensustractandblock', 'regionidcity',
       'regionidcounty', 'regionidneighborhood', 'regionidzip', 'roomcnt',
       'threequarterbathnbr', 'unitcnt', 'yearbuilt', 'numberofstories',
       'structuretaxvaluedollarcnt', 'taxvaluedollarcnt', 'assessmentyear',
       'landtaxvaluedollarcnt', 'taxamount', 'censustractandblock',
       'bath_count', 'hot_tub_spa'],
      dtype='object')

In [29]:
for int_col in data.select_dtypes('integer').columns:
    data[int_col] = pd.to_numeric(data[int_col], downcast='integer')

data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90275 entries, 0 to 90274
Data columns (total 38 columns):
parcelid                        90275 non-null int32
logerror                        90275 non-null float64
transactiondate                 90275 non-null object
airconditioningtypeid           28781 non-null float64
bedroomcnt                      90275 non-null float64
buildingqualitytypeid           57364 non-null float64
calculatedfinishedsquarefeet    89614 non-null float64
fips                            90275 non-null float64
fireplacecnt                    9607 non-null float64
garagecarcnt                    29937 non-null float64
garagetotalsqft                 29937 non-null float64
heatingorsystemtypeid           56080 non-null float64
latitude                        90275 non-null float64
longitude                       90275 non-null float64
lotsizesquarefeet               80125 non-null float64
poolcnt                         17901 non-null float64
poolsizesum                     969 non-null float64
pooltypeid2                     1204 non-null float64
pooltypeid7                     16697 non-null float64
propertylandusetypeid           90275 non-null float64
rawcensustractandblock          90275 non-null float64
regionidcity                    88472 non-null float64
regionidcounty                  90275 non-null float64
regionidneighborhood            36012 non-null float64
regionidzip                     90240 non-null float64
roomcnt                         90275 non-null float64
threequarterbathnbr             12009 non-null float64
unitcnt                         58353 non-null float64
yearbuilt                       89519 non-null float64
numberofstories                 20570 non-null float64
structuretaxvaluedollarcnt      89895 non-null float64
taxvaluedollarcnt               90274 non-null float64
assessmentyear                  90275 non-null float64
landtaxvaluedollarcnt           90274 non-null float64
taxamount                       90269 non-null float64
censustractandblock             89670 non-null float64
bath_count                      90275 non-null float64
hot_tub_spa                     2365 non-null object
dtypes: float64(35), int32(1), object(2)
memory usage: 33.3 MB

In [30]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
parcelid,90275.0,1.298466e+07,2.504510e+06,1.071174e+07,1.155950e+07,1.254734e+07,1.422755e+07,1.629608e+08
logerror,90275.0,1.145722e-02,1.610788e-01,-4.605000e+00,-2.530000e-02,6.000000e-03,3.920000e-02,4.737000e+00
airconditioningtypeid,28781.0,1.816372e+00,2.974168e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.300000e+01
bedroomcnt,90275.0,3.031869e+00,1.156436e+00,0.000000e+00,2.000000e+00,3.000000e+00,4.000000e+00,1.600000e+01
buildingqualitytypeid,57364.0,5.565407e+00,1.900602e+00,1.000000e+00,4.000000e+00,7.000000e+00,7.000000e+00,1.200000e+01
calculatedfinishedsquarefeet,89614.0,1.773186e+03,9.281624e+02,2.000000e+00,1.184000e+03,1.540000e+03,2.095000e+03,2.274100e+04
fips,90275.0,6.048871e+03,2.066346e+01,6.037000e+03,6.037000e+03,6.037000e+03,6.059000e+03,6.111000e+03
fireplacecnt,9607.0,1.187884e+00,4.841727e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.000000e+00
garagecarcnt,29937.0,1.812005e+00,6.087606e-01,0.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.400000e+01
garagetotalsqft,29937.0,3.455212e+02,2.670159e+02,0.000000e+00,0.000000e+00,4.330000e+02,4.840000e+02,7.339000e+03
heatingorsystemtypeid,56080.0,3.926979e+00,3.684382e+00,1.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,2.400000e+01
latitude,90275.0,3.400541e+07,2.649654e+05,3.333930e+07,3.381154e+07,3.402150e+07,3.417274e+07,3.481601e+07
longitude,90275.0,-1.181989e+08,3.606032e+05,-1.194479e+08,-1.184117e+08,-1.181734e+08,-1.179216e+08,-1.175549e+08
lotsizesquarefeet,80125.0,2.911016e+04,1.217213e+05,1.670000e+02,5.703000e+03,7.200000e+03,1.168600e+04,6.971010e+06
poolcnt,17901.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
poolsizesum,969.0,5.198277e+02,1.550542e+02,2.800000e+01,4.200000e+02,5.000000e+02,6.000000e+02,1.750000e+03
pooltypeid2,1204.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid7,16697.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
propertylandusetypeid,90275.0,2.618322e+02,5.182901e+00,3.100000e+01,2.610000e+02,2.610000e+02,2.660000e+02,2.750000e+02
rawcensustractandblock,90275.0,6.049179e+07,2.050549e+05,6.037101e+07,6.037320e+07,6.037620e+07,6.059042e+07,6.111009e+07
regionidcity,88472.0,3.376133e+04,4.667239e+04,3.491000e+03,1.244700e+04,2.521800e+04,4.545700e+04,3.965560e+05
regionidcounty,90275.0,2.525421e+03,8.056948e+02,1.286000e+03,1.286000e+03,3.101000e+03,3.101000e+03,3.101000e+03
regionidneighborhood,36012.0,1.906465e+05,1.662289e+05,6.952000e+03,4.673600e+04,1.188870e+05,2.748000e+05,7.641670e+05
regionidzip,90240.0,9.658613e+04,3.661339e+03,9.598200e+04,9.619300e+04,9.639300e+04,9.698700e+04,3.996750e+05
roomcnt,90275.0,1.478516e+00,2.819627e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.800000e+01
threequarterbathnbr,12009.0,1.008743e+00,1.008301e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,4.000000e+00
unitcnt,58353.0,1.110414e+00,7.972353e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.430000e+02
yearbuilt,89519.0,1.968533e+03,2.376347e+01,1.885000e+03,1.953000e+03,1.970000e+03,1.987000e+03,2.015000e+03
numberofstories,20570.0,1.440739e+00,5.444981e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00
structuretaxvaluedollarcnt,89895.0,1.800934e+05,2.091299e+05,1.000000e+02,8.124500e+04,1.320000e+05,2.105345e+05,9.948100e+06
taxvaluedollarcnt,90274.0,4.576726e+05,5.548844e+05,2.200000e+01,1.990232e+05,3.428720e+05,5.405890e+05,2.775000e+07
assessmentyear,90275.0,2.015000e+03,0.000000e+00,2.015000e+03,2.015000e+03,2.015000e+03,2.015000e+03,2.015000e+03
landtaxvaluedollarcnt,90274.0,2.783353e+05,4.004955e+05,2.200000e+01,8.222800e+04,1.929700e+05,3.454195e+05,2.450000e+07
taxamount,90269.0,5.983976e+03,6.838877e+03,4.908000e+01,2.872830e+03,4.542750e+03,6.901090e+03,3.219361e+05
censustractandblock,89670.0,6.049151e+13,2.046605e+11,6.037101e+13,6.037320e+13,6.037615e+13,6.059042e+13,6.111009e+13
bath_count,90275.0,2.279474e+00,1.004271e+00,0.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,2.000000e+01

In [31]:
data.columns

Index(['parcelid', 'logerror', 'transactiondate', 'airconditioningtypeid',
       'bedroomcnt', 'buildingqualitytypeid', 'calculatedfinishedsquarefeet',
       'fips', 'fireplacecnt', 'garagecarcnt', 'garagetotalsqft',
       'heatingorsystemtypeid', 'latitude', 'longitude', 'lotsizesquarefeet',
       'poolcnt', 'poolsizesum', 'pooltypeid2', 'pooltypeid7',
       'propertylandusetypeid', 'rawcensustractandblock', 'regionidcity',
       'regionidcounty', 'regionidneighborhood', 'regionidzip', 'roomcnt',
       'threequarterbathnbr', 'unitcnt', 'yearbuilt', 'numberofstories',
       'structuretaxvaluedollarcnt', 'taxvaluedollarcnt', 'assessmentyear',
       'landtaxvaluedollarcnt', 'taxamount', 'censustractandblock',
       'bath_count', 'hot_tub_spa'],
      dtype='object')

In [32]:
data.columns = ['parcelid', 'logerror', 'transactiondate', 'air_con',
       'bed_count', 'framing_type', 'total_living_area',
       'fips', 'fireplace_count', 'garage_count',
       'garage_area', 'heating_system', 'latitude', 'longitude',
       'lot_area', 'pool_count', 'pool_size', 'pool_&_spa',
       'pool', 'land_use',
       'raw_census_block', 'id_city',
       'id_county', 'id_neighb', 'zip_code', 'room_count',
       'q_bath', 'unit_count', 'year_built', 'levels',
       'tax_build', 'tax_p', 'tax_year',
       'tax_l', 'tax_amount', 'census_block',
       'bath_count', 'hot_tub_spa']

In [33]:
data.head()

,parcelid,logerror,transactiondate,air_con,bed_count,framing_type,total_living_area,fips,fireplace_count,garage_count,...,year_built,levels,tax_build,tax_p,tax_year,tax_l,tax_amount,census_block,bath_count,hot_tub_spa
0,11016594,0.0276,201601,1.0,3.0,4.0,1684.0,6037.0,NaN,NaN,...,1959.0,NaN,122754.0,360170.0,2015.0,237416.0,6735.88,6.037107e+13,2.0,NaN
1,14366692,-0.1684,201601,NaN,4.0,NaN,2263.0,6059.0,NaN,2.0,...,2014.0,NaN,346458.0,585529.0,2015.0,239071.0,10153.02,NaN,3.5,NaN
2,12098116,-0.0040,201601,1.0,2.0,4.0,2217.0,6037.0,NaN,NaN,...,1940.0,NaN,61994.0,119906.0,2015.0,57912.0,11484.48,6.037464e+13,3.0,NaN
3,12643413,0.0218,201601,1.0,2.0,4.0,839.0,6037.0,NaN,NaN,...,1987.0,NaN,171518.0,244880.0,2015.0,73362.0,3048.74,6.037296e+13,2.0,NaN
4,14432541,-0.0050,201601,NaN,4.0,NaN,2283.0,6059.0,NaN,2.0,...,1981.0,2.0,169574.0,434551.0,2015.0,264977.0,5488.96,6.059042e+13,2.5,NaN

In [34]:
data = data.fillna(0)
data.head()

,parcelid,logerror,transactiondate,air_con,bed_count,framing_type,total_living_area,fips,fireplace_count,garage_count,...,year_built,levels,tax_build,tax_p,tax_year,tax_l,tax_amount,census_block,bath_count,hot_tub_spa
0,11016594,0.0276,201601,1.0,3.0,4.0,1684.0,6037.0,0.0,0.0,...,1959.0,0.0,122754.0,360170.0,2015.0,237416.0,6735.88,6.037107e+13,2.0,0
1,14366692,-0.1684,201601,0.0,4.0,0.0,2263.0,6059.0,0.0,2.0,...,2014.0,0.0,346458.0,585529.0,2015.0,239071.0,10153.02,0.000000e+00,3.5,0
2,12098116,-0.0040,201601,1.0,2.0,4.0,2217.0,6037.0,0.0,0.0,...,1940.0,0.0,61994.0,119906.0,2015.0,57912.0,11484.48,6.037464e+13,3.0,0
3,12643413,0.0218,201601,1.0,2.0,4.0,839.0,6037.0,0.0,0.0,...,1987.0,0.0,171518.0,244880.0,2015.0,73362.0,3048.74,6.037296e+13,2.0,0
4,14432541,-0.0050,201601,0.0,4.0,0.0,2283.0,6059.0,0.0,2.0,...,1981.0,2.0,169574.0,434551.0,2015.0,264977.0,5488.96,6.059042e+13,2.5,0

In [39]:
scaler = RobustScaler()
train = scaler.fit_transform(data.select_dtypes(include='number'))