## CAT BOOST REGRESSOR

In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
color = sns.color_palette()
import zipfile
import re
from scipy import stats
from catboost import CatBoostRegressor
from tqdm import tqdm
import gc
import datetime as dt

<font color = blue> Once we have imported the necessary libraries, we are going to define our data path and then, load the data: </font>

In [2]:
data_path = './data/'

In [3]:
print('Loading Properties ...')
properties2016 = pd.read_csv(data_path + 'properties_2016.csv', low_memory = False)
properties2017 = pd.read_csv(data_path + 'properties_2017.csv', low_memory = False)

Loading Properties ...

In [4]:
properties2016.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2015.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,650756.0,1413387.0,2015.0,762631.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,7.0,NaN,NaN,...,1.0,NaN,571346.0,1156834.0,2015.0,585488.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,NaN,NaN,193796.0,433491.0,2015.0,239695.0,5725.17,NaN,NaN,NaN

In [5]:
properties2016.shape

(2985217, 58)

In [6]:
properties2017.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2016.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,5.0,NaN,NaN,NaN,...,1.0,NaN,660680.0,1434941.0,2016.0,774261.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,6.0,NaN,NaN,...,1.0,NaN,580059.0,1174475.0,2016.0,594416.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,1.0,NaN,196751.0,440101.0,2016.0,243350.0,5725.17,NaN,NaN,NaN

In [7]:
properties2017.shape

(2985217, 58)

<font color = blue> We are going to specify the parameter 'parse_dates' to make the column 'transactiondate' in train files date formatted: </font>

In [8]:
print('Loading Train ...')
train2016 = pd.read_csv(data_path + 'train_2016_v2.csv', parse_dates=['transactiondate'], low_memory=False)
train2017 = pd.read_csv(data_path + 'train_2017.csv', parse_dates=['transactiondate'], low_memory=False)

Loading Train ...

In [9]:
train2016.shape

(90275, 3)

In [10]:
train2017.shape

(77613, 3)

In [11]:
train2016.head()

   parcelid  logerror transactiondate
0  11016594    0.0276      2016-01-01
1  14366692   -0.1684      2016-01-01
2  12098116   -0.0040      2016-01-01
3  12643413    0.0218      2016-01-02
4  14432541   -0.0050      2016-01-02

<font color = blue> Now we are going to parse dates to get one column for year, one for month, one for day and one for quarter: </font>

In [12]:
def add_date_features(df):
    df["transaction_year"] = df["transactiondate"].dt.year
    df["transaction_month"] = (df["transactiondate"].dt.year - 2016)*12 + df["transactiondate"].dt.month
    df["transaction_day"] = df["transactiondate"].dt.day
    df["transaction_quarter"] = (df["transactiondate"].dt.year - 2016)*4 + df["transactiondate"].dt.quarter
    df.drop(["transactiondate"], inplace=True, axis=1)
    return df

In [13]:
train2016 = add_date_features(train2016)
train2017 = add_date_features(train2017)

In [14]:
train2016.head()

,parcelid,logerror,transaction_year,transaction_month,transaction_day,transaction_quarter
0,11016594,0.0276,2016,1,1,1
1,14366692,-0.1684,2016,1,1,1
2,12098116,-0.0040,2016,1,1,1
3,12643413,0.0218,2016,1,2,1
4,14432541,-0.0050,2016,1,2,1

In [15]:
print('Loading Sample ...')
sample_submission = pd.read_csv(data_path + 'sample_submission.csv', low_memory = False)

Loading Sample ...

<font color = blue> Our sample submission will be a file with the parcel id for each property and six prediction columns for different dates (last 2016 quarter and last 2017 quarter): </font>

In [16]:
sample_submission.head()

   ParcelId  201610  201611  201612  201710  201711  201712
0  10754147       0       0       0       0       0       0
1  10759547       0       0       0       0       0       0
2  10843547       0       0       0       0       0       0
3  10859147       0       0       0       0       0       0
4  10879947       0       0       0       0       0       0

<font color = blue> As we are going to apply the first model, cat boost, to the column for 201612 predictions, we remove the other columns: </font>

In [17]:
sample_submission_model_5 = sample_submission.drop(columns = ['201610', '201611', '201710', '201711', '201712'])
sample_submission_model_5.head()

   ParcelId  201612
0  10754147       0
1  10759547       0
2  10843547       0
3  10859147       0
4  10879947       0

<font color = blue> We will merge properties and train files to get all data grouped: </font>

In [18]:
print('Merging Train with Properties ...')
train2016 = pd.merge(train2016, properties2016, how = 'left', on = 'parcelid')
train2017 = pd.merge(train2017, properties2017, how = 'left', on = 'parcelid')

Merging Train with Properties ...

In [19]:
train2016.head()

,parcelid,logerror,transaction_year,transaction_month,transaction_day,transaction_quarter,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,11016594,0.0276,2016,1,1,1,1.0,NaN,NaN,2.0,...,NaN,NaN,122754.0,360170.0,2015.0,237416.0,6735.88,NaN,NaN,6.037107e+13
1,14366692,-0.1684,2016,1,1,1,NaN,NaN,NaN,3.5,...,NaN,NaN,346458.0,585529.0,2015.0,239071.0,10153.02,NaN,NaN,NaN
2,12098116,-0.0040,2016,1,1,1,1.0,NaN,NaN,3.0,...,NaN,NaN,61994.0,119906.0,2015.0,57912.0,11484.48,NaN,NaN,6.037464e+13
3,12643413,0.0218,2016,1,2,1,1.0,NaN,NaN,2.0,...,NaN,NaN,171518.0,244880.0,2015.0,73362.0,3048.74,NaN,NaN,6.037296e+13
4,14432541,-0.0050,2016,1,2,1,NaN,NaN,NaN,2.5,...,2.0,NaN,169574.0,434551.0,2015.0,264977.0,5488.96,NaN,NaN,6.059042e+13

In [20]:
train2016.shape

(90275, 63)

In [21]:
train2017.head()

,parcelid,logerror,transaction_year,transaction_month,transaction_day,transaction_quarter,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,14297519,0.025595,2017,13,1,5,NaN,NaN,NaN,3.5,...,NaN,NaN,485713.0,1023282.0,2016.0,537569.0,11013.72,NaN,NaN,6.059063e+13
1,17052889,0.055619,2017,13,1,5,NaN,NaN,NaN,1.0,...,1.0,NaN,88000.0,464000.0,2016.0,376000.0,5672.48,NaN,NaN,6.111001e+13
2,14186244,0.005383,2017,13,1,5,NaN,NaN,NaN,2.0,...,1.0,NaN,85289.0,564778.0,2016.0,479489.0,6488.30,NaN,NaN,6.059022e+13
3,12177905,-0.103410,2017,13,1,5,NaN,NaN,NaN,3.0,...,NaN,NaN,108918.0,145143.0,2016.0,36225.0,1777.51,NaN,NaN,6.037300e+13
4,10887214,0.006940,2017,13,1,5,1.0,NaN,NaN,3.0,...,NaN,NaN,73681.0,119407.0,2016.0,45726.0,1533.89,NaN,NaN,6.037124e+13

In [22]:
train2017.shape

(77613, 63)

<font color = blue> As we should not use the 2016 tax values when predicting log errors against the 2016 log errors, we will omit this information for the 2016 predicitons columns: </font>

In [23]:
print('Tax Features 2017  ...')
train2017.iloc[:, train2017.columns.str.startswith('tax')] = np.nan
train2017.iloc[:, train2017.columns.str.endswith('taxvaluedollarcnt')] = np.nan

Tax Features 2017  ...

In [24]:
train2017.head()

,parcelid,logerror,transaction_year,transaction_month,transaction_day,transaction_quarter,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,14297519,0.025595,2017,13,1,5,NaN,NaN,NaN,3.5,...,NaN,NaN,NaN,NaN,2016.0,NaN,NaN,NaN,NaN,6.059063e+13
1,17052889,0.055619,2017,13,1,5,NaN,NaN,NaN,1.0,...,1.0,NaN,NaN,NaN,2016.0,NaN,NaN,NaN,NaN,6.111001e+13
2,14186244,0.005383,2017,13,1,5,NaN,NaN,NaN,2.0,...,1.0,NaN,NaN,NaN,2016.0,NaN,NaN,NaN,NaN,6.059022e+13
3,12177905,-0.103410,2017,13,1,5,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,2016.0,NaN,NaN,NaN,NaN,6.037300e+13
4,10887214,0.006940,2017,13,1,5,1.0,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,2016.0,NaN,NaN,NaN,NaN,6.037124e+13

<font color = blue> Now we will generate our training and test files to run the model, the training file will be all properties and train from 2016 and 2017, while for the test, we will merge the sample submission with the unique properties file: </font>

In [25]:
print('Concat Train 2016 & 2017 ...')
train_df = pd.concat([train2016, train2017], axis = 0)
test_df = pd.merge(sample_submission_model_5[['ParcelId']], properties2016.rename(columns = {'parcelid': 'ParcelId'}), how = 'left', on = 'ParcelId')

Concat Train 2016 & 2017 ...

In [26]:
train_df.head()

,parcelid,logerror,transaction_year,transaction_month,transaction_day,transaction_quarter,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,11016594,0.0276,2016,1,1,1,1.0,NaN,NaN,2.0,...,NaN,NaN,122754.0,360170.0,2015.0,237416.0,6735.88,NaN,NaN,6.037107e+13
1,14366692,-0.1684,2016,1,1,1,NaN,NaN,NaN,3.5,...,NaN,NaN,346458.0,585529.0,2015.0,239071.0,10153.02,NaN,NaN,NaN
2,12098116,-0.0040,2016,1,1,1,1.0,NaN,NaN,3.0,...,NaN,NaN,61994.0,119906.0,2015.0,57912.0,11484.48,NaN,NaN,6.037464e+13
3,12643413,0.0218,2016,1,2,1,1.0,NaN,NaN,2.0,...,NaN,NaN,171518.0,244880.0,2015.0,73362.0,3048.74,NaN,NaN,6.037296e+13
4,14432541,-0.0050,2016,1,2,1,NaN,NaN,NaN,2.5,...,2.0,NaN,169574.0,434551.0,2015.0,264977.0,5488.96,NaN,NaN,6.059042e+13

In [27]:
train_df.shape

(167888, 63)

In [28]:
test_df.head()

,ParcelId,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2015.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,650756.0,1413387.0,2015.0,762631.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,7.0,NaN,NaN,...,1.0,NaN,571346.0,1156834.0,2015.0,585488.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,NaN,NaN,193796.0,433491.0,2015.0,239695.0,5725.17,NaN,NaN,NaN

In [29]:
test_df.shape

(2985217, 58)

<font color = blue> To optimize memory management, we are using garbage collections algorithms (GC), which solve reference cycles (when one or more objects are referencing each other) that reference counting cannot detect: </font>

In [30]:
del properties2016, properties2017, train2016, train2017
gc.collect();

<font color = blue> Let's do some feature engineering. We have to deal with missing values, where we will establish a threshold of 98% missing values to remove those fields, and also with features with one unique value and others that we do not want to use in our training: </font>

In [31]:
print('Missing data fields to remove ...')
missing_perc_thresh = 0.98
exclude_missing = []
num_rows = train_df.shape[0]
for c in train_df.columns:
    num_missing = train_df[c].isnull().sum()
    if num_missing == 0:
        continue
    missing_frac = num_missing / float(num_rows)
    if missing_frac > missing_perc_thresh:
        exclude_missing.append(c)
print(exclude_missing)
print("We exclude: %s" % len(exclude_missing))

Missing data fields to remove ...
['architecturalstyletypeid', 'basementsqft', 'buildingclasstypeid', 'decktypeid', 'finishedsquarefeet13', 'finishedsquarefeet6', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'storytypeid', 'typeconstructiontypeid', 'yardbuildingsqft26', 'fireplaceflag', 'taxdelinquencyflag', 'taxdelinquencyyear']
We exclude: 15

In [32]:
print ("Remove features with one unique value ...")
exclude_unique = []
for c in train_df.columns:
    num_uniques = len(train_df[c].unique())
    if train_df[c].isnull().sum() != 0:
        num_uniques -= 1
    if num_uniques == 1:
        exclude_unique.append(c)
print(exclude_unique)
print("We exclude: %s" % len(exclude_unique))

Remove features with one unique value ...
['decktypeid', 'hashottuborspa', 'poolcnt', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7', 'storytypeid', 'fireplaceflag', 'taxdelinquencyflag']
We exclude: 9

In [33]:
del num_rows, missing_perc_thresh
gc.collect();

In [34]:
print ("Define training features ...")
exclude_other = ['parcelid', 'logerror', 'propertyzoningdesc']
train_features = []
for c in train_df.columns:
    if c not in exclude_missing \
       and c not in exclude_other:
        train_features.append(c)
print(train_features)
print("We use these for training: %s" % len(train_features))

Define training features ...
['transaction_year', 'transaction_month', 'transaction_day', 'transaction_quarter', 'airconditioningtypeid', 'bathroomcnt', 'bedroomcnt', 'buildingqualitytypeid', 'calculatedbathnbr', 'finishedfloor1squarefeet', 'calculatedfinishedsquarefeet', 'finishedsquarefeet12', 'finishedsquarefeet15', 'finishedsquarefeet50', 'fips', 'fireplacecnt', 'fullbathcnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa', 'heatingorsystemtypeid', 'latitude', 'longitude', 'lotsizesquarefeet', 'poolcnt', 'pooltypeid7', 'propertycountylandusecode', 'propertylandusetypeid', 'rawcensustractandblock', 'regionidcity', 'regionidcounty', 'regionidneighborhood', 'regionidzip', 'roomcnt', 'threequarterbathnbr', 'unitcnt', 'yardbuildingsqft17', 'yearbuilt', 'numberofstories', 'structuretaxvaluedollarcnt', 'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt', 'taxamount', 'censustractandblock']
We use these for training: 45

<font color = blue> Now we have to deal with categorical features: </font>

In [35]:
print ("Define categorical features ...")
cat_feature_inds = []
cat_unique_thresh = 100
for i, c in enumerate(train_features):
    num_uniques = len(train_df[c].unique())
    if num_uniques < cat_unique_thresh \
       and not 'sqft' in c \
       and not 'cnt' in c \
       and not 'nbr' in c \
       and not 'number' in c:
        cat_feature_inds.append(i)
print("Cat features are: %s" % [train_features[ind] for ind in cat_feature_inds])

Define categorical features ...
Cat features are: ['transaction_year', 'transaction_month', 'transaction_day', 'transaction_quarter', 'airconditioningtypeid', 'buildingqualitytypeid', 'fips', 'hashottuborspa', 'heatingorsystemtypeid', 'pooltypeid7', 'propertycountylandusecode', 'propertylandusetypeid', 'regionidcounty', 'assessmentyear']

<font color = blue> As we are going to use a tree based model, we will replace NaN values by '-999' so they do not interfere with proper data: </font>

In [36]:
print ("Replacing NaN values by -999 ...")
train_df.fillna(-999, inplace=True)
test_df.fillna(-999, inplace=True)

Replacing NaN values by -999 ...

In [37]:
print ("Training model 5: Cat boost ...")
X_train = train_df[train_features]
y_train = train_df.logerror
print(X_train.shape, y_train.shape)

test_df['transactiondate'] = pd.Timestamp('2016-12-01') 
test_df = add_date_features(test_df)
X_test = test_df[train_features]
print(X_test.shape)

Training model 5: Cat boost ...
(167888, 45) (167888,)
(2985217, 45)

In [38]:
y_pred = 0.0
model = CatBoostRegressor(
    iterations = 690, learning_rate = 0.01,
    depth = 7, l2_leaf_reg = 5,
    loss_function = 'MAE',
    eval_metric = 'MAE',
    random_seed = i)
model.fit(
    X_train, y_train,
    cat_features = cat_feature_inds)
y_pred += model.predict(X_test)

0:	learn: 0.0690998	total: 679ms	remaining: 7m 48s
1:	learn: 0.0689989	total: 1.15s	remaining: 6m 34s
2:	learn: 0.0689224	total: 1.6s	remaining: 6m 5s
3:	learn: 0.0688491	total: 2.15s	remaining: 6m 8s
4:	learn: 0.0687887	total: 2.68s	remaining: 6m 6s
5:	learn: 0.0687335	total: 3.25s	remaining: 6m 10s
6:	learn: 0.0686937	total: 3.69s	remaining: 5m 59s
7:	learn: 0.0686615	total: 4.32s	remaining: 6m 8s
8:	learn: 0.0686262	total: 4.95s	remaining: 6m 14s
9:	learn: 0.0685969	total: 5.67s	remaining: 6m 25s
10:	learn: 0.0685699	total: 6.21s	remaining: 6m 23s
11:	learn: 0.0685479	total: 6.96s	remaining: 6m 33s
12:	learn: 0.0685209	total: 7.82s	remaining: 6m 47s
13:	learn: 0.0685034	total: 8.38s	remaining: 6m 44s
14:	learn: 0.0684822	total: 8.98s	remaining: 6m 44s
15:	learn: 0.0684666	total: 9.6s	remaining: 6m 44s
16:	learn: 0.0684525	total: 10.2s	remaining: 6m 42s
17:	learn: 0.0684339	total: 11.7s	remaining: 7m 15s
18:	learn: 0.0684207	total: 12.2s	remaining: 7m 10s
19:	learn: 0.0684067	total: 12.7s	remaining: 7m 4s
20:	learn: 0.0683882	total: 13.2s	remaining: 7m
21:	learn: 0.0683794	total: 13.7s	remaining: 6m 55s
22:	learn: 0.0683673	total: 14.1s	remaining: 6m 48s
23:	learn: 0.0683534	total: 14.5s	remaining: 6m 43s
24:	learn: 0.0683407	total: 14.9s	remaining: 6m 37s
25:	learn: 0.0683301	total: 15.5s	remaining: 6m 36s
26:	learn: 0.0683234	total: 16.1s	remaining: 6m 35s
27:	learn: 0.0683165	total: 17s	remaining: 6m 41s
28:	learn: 0.0683061	total: 17.7s	remaining: 6m 44s
29:	learn: 0.0682980	total: 18.3s	remaining: 6m 43s
30:	learn: 0.0682900	total: 19.6s	remaining: 6m 56s
31:	learn: 0.0682844	total: 20.1s	remaining: 6m 54s
32:	learn: 0.0682767	total: 20.7s	remaining: 6m 51s
33:	learn: 0.0682697	total: 21.1s	remaining: 6m 47s
34:	learn: 0.0682631	total: 21.6s	remaining: 6m 44s
35:	learn: 0.0682565	total: 22.1s	remaining: 6m 40s
36:	learn: 0.0682486	total: 22.5s	remaining: 6m 37s
37:	learn: 0.0682390	total: 23s	remaining: 6m 35s
38:	learn: 0.0682345	total: 23.5s	remaining: 6m 31s
39:	learn: 0.0682285	total: 23.9s	remaining: 6m 28s
40:	learn: 0.0682232	total: 24.3s	remaining: 6m 25s
41:	learn: 0.0682179	total: 24.7s	remaining: 6m 21s
42:	learn: 0.0682124	total: 25.1s	remaining: 6m 18s
43:	learn: 0.0682076	total: 25.6s	remaining: 6m 16s
44:	learn: 0.0682052	total: 26.3s	remaining: 6m 16s
45:	learn: 0.0681984	total: 26.9s	remaining: 6m 16s
46:	learn: 0.0681917	total: 28.1s	remaining: 6m 24s
47:	learn: 0.0681880	total: 28.7s	remaining: 6m 23s
48:	learn: 0.0681820	total: 29.1s	remaining: 6m 20s
49:	learn: 0.0681765	total: 29.5s	remaining: 6m 17s
50:	learn: 0.0681665	total: 30s	remaining: 6m 15s
51:	learn: 0.0681607	total: 30.4s	remaining: 6m 13s
52:	learn: 0.0681522	total: 30.9s	remaining: 6m 10s
53:	learn: 0.0681515	total: 31s	remaining: 6m 4s
54:	learn: 0.0681450	total: 31.4s	remaining: 6m 2s
55:	learn: 0.0681425	total: 31.8s	remaining: 5m 59s
56:	learn: 0.0681418	total: 31.9s	remaining: 5m 54s
57:	learn: 0.0681387	total: 32.3s	remaining: 5m 51s
58:	learn: 0.0681316	total: 32.7s	remaining: 5m 49s
59:	learn: 0.0681251	total: 33.1s	remaining: 5m 47s
60:	learn: 0.0681175	total: 33.5s	remaining: 5m 45s
61:	learn: 0.0681109	total: 34s	remaining: 5m 44s
62:	learn: 0.0681053	total: 34.5s	remaining: 5m 43s
63:	learn: 0.0681037	total: 34.9s	remaining: 5m 41s
64:	learn: 0.0680997	total: 35.4s	remaining: 5m 40s
65:	learn: 0.0680966	total: 36s	remaining: 5m 40s
66:	learn: 0.0680950	total: 36.7s	remaining: 5m 41s
67:	learn: 0.0680881	total: 38s	remaining: 5m 47s
68:	learn: 0.0680857	total: 38.7s	remaining: 5m 48s
69:	learn: 0.0680773	total: 40.4s	remaining: 5m 57s
70:	learn: 0.0680734	total: 40.9s	remaining: 5m 56s
71:	learn: 0.0680710	total: 41.3s	remaining: 5m 54s
72:	learn: 0.0680645	total: 42.6s	remaining: 5m 59s
73:	learn: 0.0680615	total: 43.8s	remaining: 6m 4s
74:	learn: 0.0680578	total: 44.7s	remaining: 6m 6s
75:	learn: 0.0680557	total: 45.3s	remaining: 6m 5s
76:	learn: 0.0680504	total: 45.9s	remaining: 6m 5s
77:	learn: 0.0680450	total: 46.3s	remaining: 6m 3s
78:	learn: 0.0680405	total: 46.9s	remaining: 6m 2s
79:	learn: 0.0680340	total: 47.6s	remaining: 6m 2s
80:	learn: 0.0680328	total: 48.2s	remaining: 6m 2s
81:	learn: 0.0680291	total: 49.6s	remaining: 6m 8s
82:	learn: 0.0680256	total: 50.1s	remaining: 6m 6s
83:	learn: 0.0680194	total: 50.6s	remaining: 6m 5s
84:	learn: 0.0680137	total: 51.8s	remaining: 6m 8s
85:	learn: 0.0680116	total: 52.8s	remaining: 6m 10s
86:	learn: 0.0680066	total: 53.3s	remaining: 6m 9s
87:	learn: 0.0680039	total: 54.2s	remaining: 6m 10s
88:	learn: 0.0680005	total: 55.5s	remaining: 6m 14s
89:	learn: 0.0679968	total: 56.5s	remaining: 6m 16s
90:	learn: 0.0679934	total: 56.9s	remaining: 6m 14s
91:	learn: 0.0679908	total: 57.4s	remaining: 6m 12s
92:	learn: 0.0679865	total: 1m	remaining: 6m 30s
93:	learn: 0.0679839	total: 1m 4s	remaining: 6m 51s
94:	learn: 0.0679778	total: 1m 6s	remaining: 6m 57s
95:	learn: 0.0679770	total: 1m 7s	remaining: 6m 56s
96:	learn: 0.0679723	total: 1m 8s	remaining: 6m 56s
97:	learn: 0.0679702	total: 1m 8s	remaining: 6m 56s
98:	learn: 0.0679674	total: 1m 9s	remaining: 6m 56s
99:	learn: 0.0679640	total: 1m 10s	remaining: 6m 56s
100:	learn: 0.0679618	total: 1m 11s	remaining: 6m 54s
101:	learn: 0.0679585	total: 1m 11s	remaining: 6m 53s
102:	learn: 0.0679564	total: 1m 12s	remaining: 6m 51s
103:	learn: 0.0679553	total: 1m 12s	remaining: 6m 50s
104:	learn: 0.0679520	total: 1m 13s	remaining: 6m 49s
105:	learn: 0.0679508	total: 1m 14s	remaining: 6m 51s
106:	learn: 0.0679491	total: 1m 15s	remaining: 6m 50s
107:	learn: 0.0679448	total: 1m 15s	remaining: 6m 48s
108:	learn: 0.0679434	total: 1m 16s	remaining: 6m 46s
109:	learn: 0.0679406	total: 1m 17s	remaining: 6m 46s
110:	learn: 0.0679366	total: 1m 17s	remaining: 6m 44s
111:	learn: 0.0679330	total: 1m 18s	remaining: 6m 42s
112:	learn: 0.0679269	total: 1m 18s	remaining: 6m 40s
113:	learn: 0.0679224	total: 1m 19s	remaining: 6m 39s
114:	learn: 0.0679205	total: 1m 20s	remaining: 6m 40s
115:	learn: 0.0679163	total: 1m 20s	remaining: 6m 39s
116:	learn: 0.0679100	total: 1m 22s	remaining: 6m 41s
117:	learn: 0.0679086	total: 1m 22s	remaining: 6m 40s
118:	learn: 0.0679035	total: 1m 23s	remaining: 6m 38s
119:	learn: 0.0679027	total: 1m 23s	remaining: 6m 36s
120:	learn: 0.0679013	total: 1m 23s	remaining: 6m 34s
121:	learn: 0.0678977	total: 1m 24s	remaining: 6m 32s
122:	learn: 0.0678956	total: 1m 24s	remaining: 6m 30s
123:	learn: 0.0678949	total: 1m 25s	remaining: 6m 28s
124:	learn: 0.0678931	total: 1m 25s	remaining: 6m 27s
125:	learn: 0.0678843	total: 1m 26s	remaining: 6m 25s
126:	learn: 0.0678817	total: 1m 26s	remaining: 6m 23s
127:	learn: 0.0678804	total: 1m 26s	remaining: 6m 21s
128:	learn: 0.0678778	total: 1m 27s	remaining: 6m 19s
129:	learn: 0.0678760	total: 1m 27s	remaining: 6m 18s
130:	learn: 0.0678750	total: 1m 28s	remaining: 6m 16s
131:	learn: 0.0678738	total: 1m 28s	remaining: 6m 14s
132:	learn: 0.0678718	total: 1m 29s	remaining: 6m 13s
133:	learn: 0.0678697	total: 1m 29s	remaining: 6m 12s
134:	learn: 0.0678666	total: 1m 30s	remaining: 6m 11s
135:	learn: 0.0678659	total: 1m 31s	remaining: 6m 13s
136:	learn: 0.0678642	total: 1m 32s	remaining: 6m 12s
137:	learn: 0.0678598	total: 1m 32s	remaining: 6m 10s
138:	learn: 0.0678540	total: 1m 33s	remaining: 6m 9s
139:	learn: 0.0678527	total: 1m 33s	remaining: 6m 7s
140:	learn: 0.0678491	total: 1m 34s	remaining: 6m 6s
141:	learn: 0.0678475	total: 1m 34s	remaining: 6m 4s
142:	learn: 0.0678454	total: 1m 34s	remaining: 6m 2s
143:	learn: 0.0678437	total: 1m 35s	remaining: 6m
144:	learn: 0.0678427	total: 1m 35s	remaining: 5m 58s
145:	learn: 0.0678396	total: 1m 35s	remaining: 5m 57s
146:	learn: 0.0678381	total: 1m 36s	remaining: 5m 55s
147:	learn: 0.0678370	total: 1m 36s	remaining: 5m 54s
148:	learn: 0.0678348	total: 1m 37s	remaining: 5m 52s
149:	learn: 0.0678333	total: 1m 37s	remaining: 5m 51s
150:	learn: 0.0678315	total: 1m 38s	remaining: 5m 50s
151:	learn: 0.0678311	total: 1m 38s	remaining: 5m 48s
152:	learn: 0.0678304	total: 1m 38s	remaining: 5m 47s
153:	learn: 0.0678277	total: 1m 39s	remaining: 5m 45s
154:	learn: 0.0678257	total: 1m 39s	remaining: 5m 44s
155:	learn: 0.0678241	total: 1m 40s	remaining: 5m 44s
156:	learn: 0.0678238	total: 1m 41s	remaining: 5m 43s

157:	learn: 0.0678230	total: 1m 41s	remaining: 5m 42s
158:	learn: 0.0678228	total: 1m 42s	remaining: 5m 42s
159:	learn: 0.0678211	total: 1m 43s	remaining: 5m 42s
160:	learn: 0.0678201	total: 1m 44s	remaining: 5m 41s
161:	learn: 0.0678167	total: 1m 44s	remaining: 5m 40s
162:	learn: 0.0678140	total: 1m 45s	remaining: 5m 39s
163:	learn: 0.0678133	total: 1m 45s	remaining: 5m 38s
164:	learn: 0.0678099	total: 1m 45s	remaining: 5m 36s
165:	learn: 0.0678060	total: 1m 46s	remaining: 5m 35s
166:	learn: 0.0678044	total: 1m 46s	remaining: 5m 34s
167:	learn: 0.0678042	total: 1m 46s	remaining: 5m 32s
168:	learn: 0.0678018	total: 1m 47s	remaining: 5m 30s
169:	learn: 0.0678006	total: 1m 47s	remaining: 5m 29s
170:	learn: 0.0677999	total: 1m 48s	remaining: 5m 28s
171:	learn: 0.0677980	total: 1m 48s	remaining: 5m 26s
172:	learn: 0.0677945	total: 1m 48s	remaining: 5m 25s
173:	learn: 0.0677909	total: 1m 49s	remaining: 5m 24s
174:	learn: 0.0677886	total: 1m 49s	remaining: 5m 22s
175:	learn: 0.0677870	total: 1m 50s	remaining: 5m 21s
176:	learn: 0.0677858	total: 1m 50s	remaining: 5m 20s
177:	learn: 0.0677839	total: 1m 51s	remaining: 5m 19s
178:	learn: 0.0677829	total: 1m 51s	remaining: 5m 18s
179:	learn: 0.0677821	total: 1m 52s	remaining: 5m 18s
180:	learn: 0.0677798	total: 1m 53s	remaining: 5m 17s
181:	learn: 0.0677778	total: 1m 53s	remaining: 5m 17s
182:	learn: 0.0677768	total: 1m 54s	remaining: 5m 16s
183:	learn: 0.0677763	total: 1m 55s	remaining: 5m 17s
184:	learn: 0.0677742	total: 1m 55s	remaining: 5m 16s
185:	learn: 0.0677720	total: 1m 56s	remaining: 5m 14s
186:	learn: 0.0677691	total: 1m 56s	remaining: 5m 13s
187:	learn: 0.0677678	total: 1m 57s	remaining: 5m 13s
188:	learn: 0.0677645	total: 1m 57s	remaining: 5m 12s
189:	learn: 0.0677624	total: 1m 58s	remaining: 5m 11s
190:	learn: 0.0677596	total: 1m 58s	remaining: 5m 10s
191:	learn: 0.0677558	total: 1m 59s	remaining: 5m 9s
192:	learn: 0.0677555	total: 1m 59s	remaining: 5m 8s
193:	learn: 0.0677549	total: 2m	remaining: 5m 7s
194:	learn: 0.0677529	total: 2m	remaining: 5m 6s
195:	learn: 0.0677526	total: 2m 1s	remaining: 5m 5s
196:	learn: 0.0677503	total: 2m 1s	remaining: 5m 4s
197:	learn: 0.0677492	total: 2m 2s	remaining: 5m 4s
198:	learn: 0.0677489	total: 2m 2s	remaining: 5m 2s
199:	learn: 0.0677475	total: 2m 4s	remaining: 5m 5s
200:	learn: 0.0677469	total: 2m 5s	remaining: 5m 4s
201:	learn: 0.0677427	total: 2m 5s	remaining: 5m 4s
202:	learn: 0.0677419	total: 2m 6s	remaining: 5m 3s
203:	learn: 0.0677412	total: 2m 6s	remaining: 5m 2s
204:	learn: 0.0677401	total: 2m 7s	remaining: 5m 1s
205:	learn: 0.0677379	total: 2m 7s	remaining: 5m
206:	learn: 0.0677354	total: 2m 8s	remaining: 4m 59s
207:	learn: 0.0677338	total: 2m 8s	remaining: 4m 58s
208:	learn: 0.0677312	total: 2m 9s	remaining: 4m 57s
209:	learn: 0.0677303	total: 2m 9s	remaining: 4m 56s
210:	learn: 0.0677283	total: 2m 9s	remaining: 4m 55s
211:	learn: 0.0677253	total: 2m 10s	remaining: 4m 53s
212:	learn: 0.0677226	total: 2m 10s	remaining: 4m 52s
213:	learn: 0.0677215	total: 2m 11s	remaining: 4m 51s
214:	learn: 0.0677186	total: 2m 11s	remaining: 4m 50s
215:	learn: 0.0677164	total: 2m 11s	remaining: 4m 49s
216:	learn: 0.0677144	total: 2m 12s	remaining: 4m 48s
217:	learn: 0.0677128	total: 2m 13s	remaining: 4m 48s
218:	learn: 0.0677100	total: 2m 13s	remaining: 4m 47s
219:	learn: 0.0677083	total: 2m 14s	remaining: 4m 46s
220:	learn: 0.0677066	total: 2m 14s	remaining: 4m 45s
221:	learn: 0.0677043	total: 2m 14s	remaining: 4m 44s
222:	learn: 0.0677027	total: 2m 15s	remaining: 4m 43s
223:	learn: 0.0677018	total: 2m 17s	remaining: 4m 45s
224:	learn: 0.0676991	total: 2m 17s	remaining: 4m 44s
225:	learn: 0.0676965	total: 2m 18s	remaining: 4m 44s
226:	learn: 0.0676943	total: 2m 18s	remaining: 4m 43s
227:	learn: 0.0676936	total: 2m 19s	remaining: 4m 42s
228:	learn: 0.0676915	total: 2m 19s	remaining: 4m 41s
229:	learn: 0.0676906	total: 2m 20s	remaining: 4m 40s
230:	learn: 0.0676896	total: 2m 20s	remaining: 4m 39s
231:	learn: 0.0676878	total: 2m 21s	remaining: 4m 39s
232:	learn: 0.0676861	total: 2m 22s	remaining: 4m 39s
233:	learn: 0.0676853	total: 2m 22s	remaining: 4m 38s
234:	learn: 0.0676834	total: 2m 23s	remaining: 4m 38s
235:	learn: 0.0676829	total: 2m 24s	remaining: 4m 37s
236:	learn: 0.0676824	total: 2m 25s	remaining: 4m 37s
237:	learn: 0.0676812	total: 2m 25s	remaining: 4m 36s
238:	learn: 0.0676786	total: 2m 26s	remaining: 4m 36s
239:	learn: 0.0676764	total: 2m 28s	remaining: 4m 38s
240:	learn: 0.0676729	total: 2m 29s	remaining: 4m 37s
241:	learn: 0.0676723	total: 2m 29s	remaining: 4m 37s
242:	learn: 0.0676716	total: 2m 30s	remaining: 4m 36s
243:	learn: 0.0676709	total: 2m 30s	remaining: 4m 35s
244:	learn: 0.0676697	total: 2m 31s	remaining: 4m 34s
245:	learn: 0.0676692	total: 2m 31s	remaining: 4m 33s
246:	learn: 0.0676688	total: 2m 32s	remaining: 4m 33s
247:	learn: 0.0676687	total: 2m 32s	remaining: 4m 31s
248:	learn: 0.0676670	total: 2m 32s	remaining: 4m 30s
249:	learn: 0.0676659	total: 2m 33s	remaining: 4m 30s
250:	learn: 0.0676616	total: 2m 34s	remaining: 4m 29s
251:	learn: 0.0676602	total: 2m 34s	remaining: 4m 29s
252:	learn: 0.0676584	total: 2m 35s	remaining: 4m 28s
253:	learn: 0.0676561	total: 2m 36s	remaining: 4m 28s
254:	learn: 0.0676522	total: 2m 37s	remaining: 4m 28s
255:	learn: 0.0676488	total: 2m 38s	remaining: 4m 28s
256:	learn: 0.0676478	total: 2m 39s	remaining: 4m 28s
257:	learn: 0.0676471	total: 2m 39s	remaining: 4m 27s
258:	learn: 0.0676461	total: 2m 40s	remaining: 4m 26s
259:	learn: 0.0676445	total: 2m 41s	remaining: 4m 27s
260:	learn: 0.0676422	total: 2m 42s	remaining: 4m 26s
261:	learn: 0.0676414	total: 2m 42s	remaining: 4m 26s
262:	learn: 0.0676397	total: 2m 43s	remaining: 4m 25s
263:	learn: 0.0676376	total: 2m 44s	remaining: 4m 25s
264:	learn: 0.0676364	total: 2m 44s	remaining: 4m 24s
265:	learn: 0.0676349	total: 2m 46s	remaining: 4m 24s
266:	learn: 0.0676323	total: 2m 47s	remaining: 4m 26s
267:	learn: 0.0676310	total: 2m 48s	remaining: 4m 25s
268:	learn: 0.0676285	total: 2m 49s	remaining: 4m 25s
269:	learn: 0.0676273	total: 2m 50s	remaining: 4m 25s
270:	learn: 0.0676249	total: 2m 51s	remaining: 4m 25s
271:	learn: 0.0676232	total: 2m 52s	remaining: 4m 24s
272:	learn: 0.0676218	total: 2m 53s	remaining: 4m 24s
273:	learn: 0.0676216	total: 2m 53s	remaining: 4m 23s
274:	learn: 0.0676202	total: 2m 54s	remaining: 4m 23s
275:	learn: 0.0676191	total: 2m 54s	remaining: 4m 22s
276:	learn: 0.0676188	total: 2m 55s	remaining: 4m 21s
277:	learn: 0.0676186	total: 2m 56s	remaining: 4m 21s
278:	learn: 0.0676166	total: 2m 56s	remaining: 4m 20s
279:	learn: 0.0676163	total: 2m 57s	remaining: 4m 19s
280:	learn: 0.0676136	total: 2m 57s	remaining: 4m 19s
281:	learn: 0.0676121	total: 2m 58s	remaining: 4m 18s
282:	learn: 0.0676102	total: 2m 59s	remaining: 4m 18s
283:	learn: 0.0676081	total: 3m	remaining: 4m 17s
284:	learn: 0.0676065	total: 3m	remaining: 4m 16s
285:	learn: 0.0676058	total: 3m 1s	remaining: 4m 15s
286:	learn: 0.0676040	total: 3m 1s	remaining: 4m 14s
287:	learn: 0.0676035	total: 3m 2s	remaining: 4m 14s
288:	learn: 0.0676029	total: 3m 2s	remaining: 4m 13s
289:	learn: 0.0676021	total: 3m 2s	remaining: 4m 12s
290:	learn: 0.0675987	total: 3m 3s	remaining: 4m 11s
291:	learn: 0.0675975	total: 3m 3s	remaining: 4m 10s
292:	learn: 0.0675954	total: 3m 4s	remaining: 4m 9s
293:	learn: 0.0675934	total: 3m 4s	remaining: 4m 9s
294:	learn: 0.0675933	total: 3m 5s	remaining: 4m 7s
295:	learn: 0.0675905	total: 3m 5s	remaining: 4m 7s
296:	learn: 0.0675900	total: 3m 6s	remaining: 4m 6s
297:	learn: 0.0675898	total: 3m 7s	remaining: 4m 6s
298:	learn: 0.0675896	total: 3m 8s	remaining: 4m 6s
299:	learn: 0.0675882	total: 3m 9s	remaining: 4m 6s
300:	learn: 0.0675876	total: 3m 10s	remaining: 4m 5s
301:	learn: 0.0675851	total: 3m 10s	remaining: 4m 5s
302:	learn: 0.0675830	total: 3m 11s	remaining: 4m 4s
303:	learn: 0.0675822	total: 3m 13s	remaining: 4m 6s
304:	learn: 0.0675802	total: 3m 15s	remaining: 4m 6s
305:	learn: 0.0675792	total: 3m 16s	remaining: 4m 6s
306:	learn: 0.0675773	total: 3m 20s	remaining: 4m 9s
307:	learn: 0.0675748	total: 3m 21s	remaining: 4m 9s
308:	learn: 0.0675740	total: 3m 22s	remaining: 4m 9s
309:	learn: 0.0675700	total: 3m 22s	remaining: 4m 8s
310:	learn: 0.0675675	total: 3m 23s	remaining: 4m 7s

311:	learn: 0.0675659	total: 3m 24s	remaining: 4m 7s
312:	learn: 0.0675647	total: 3m 24s	remaining: 4m 6s
313:	learn: 0.0675643	total: 3m 25s	remaining: 4m 5s
314:	learn: 0.0675618	total: 3m 25s	remaining: 4m 4s
315:	learn: 0.0675603	total: 3m 26s	remaining: 4m 4s
316:	learn: 0.0675591	total: 3m 26s	remaining: 4m 3s
317:	learn: 0.0675561	total: 3m 27s	remaining: 4m 2s
318:	learn: 0.0675553	total: 3m 28s	remaining: 4m 1s
319:	learn: 0.0675527	total: 3m 29s	remaining: 4m 2s
320:	learn: 0.0675523	total: 3m 30s	remaining: 4m 1s
321:	learn: 0.0675503	total: 3m 31s	remaining: 4m 1s
322:	learn: 0.0675474	total: 3m 31s	remaining: 4m
323:	learn: 0.0675466	total: 3m 32s	remaining: 3m 59s
324:	learn: 0.0675457	total: 3m 32s	remaining: 3m 58s
325:	learn: 0.0675440	total: 3m 33s	remaining: 3m 57s
326:	learn: 0.0675431	total: 3m 33s	remaining: 3m 56s
327:	learn: 0.0675420	total: 3m 34s	remaining: 3m 56s
328:	learn: 0.0675388	total: 3m 34s	remaining: 3m 55s
329:	learn: 0.0675359	total: 3m 35s	remaining: 3m 54s
330:	learn: 0.0675349	total: 3m 35s	remaining: 3m 53s
331:	learn: 0.0675336	total: 3m 36s	remaining: 3m 53s
332:	learn: 0.0675329	total: 3m 36s	remaining: 3m 52s
333:	learn: 0.0675325	total: 3m 36s	remaining: 3m 51s
334:	learn: 0.0675293	total: 3m 37s	remaining: 3m 50s
335:	learn: 0.0675286	total: 3m 38s	remaining: 3m 49s
336:	learn: 0.0675278	total: 3m 39s	remaining: 3m 50s
337:	learn: 0.0675275	total: 3m 40s	remaining: 3m 49s
338:	learn: 0.0675268	total: 3m 40s	remaining: 3m 48s
339:	learn: 0.0675246	total: 3m 41s	remaining: 3m 48s
340:	learn: 0.0675227	total: 3m 41s	remaining: 3m 47s
341:	learn: 0.0675220	total: 3m 42s	remaining: 3m 46s
342:	learn: 0.0675215	total: 3m 42s	remaining: 3m 45s
343:	learn: 0.0675206	total: 3m 42s	remaining: 3m 44s
344:	learn: 0.0675189	total: 3m 43s	remaining: 3m 43s
345:	learn: 0.0675181	total: 3m 44s	remaining: 3m 42s
346:	learn: 0.0675176	total: 3m 44s	remaining: 3m 42s
347:	learn: 0.0675169	total: 3m 45s	remaining: 3m 41s
348:	learn: 0.0675148	total: 3m 46s	remaining: 3m 41s
349:	learn: 0.0675140	total: 3m 47s	remaining: 3m 40s
350:	learn: 0.0675136	total: 3m 48s	remaining: 3m 40s
351:	learn: 0.0675131	total: 3m 49s	remaining: 3m 40s
352:	learn: 0.0675122	total: 3m 50s	remaining: 3m 40s
353:	learn: 0.0675112	total: 3m 51s	remaining: 3m 39s
354:	learn: 0.0675088	total: 3m 51s	remaining: 3m 38s
355:	learn: 0.0675080	total: 3m 52s	remaining: 3m 38s
356:	learn: 0.0675074	total: 3m 53s	remaining: 3m 37s
357:	learn: 0.0675066	total: 3m 54s	remaining: 3m 37s
358:	learn: 0.0675060	total: 3m 54s	remaining: 3m 36s
359:	learn: 0.0675036	total: 3m 55s	remaining: 3m 35s
360:	learn: 0.0675021	total: 3m 56s	remaining: 3m 35s
361:	learn: 0.0675016	total: 3m 57s	remaining: 3m 34s
362:	learn: 0.0674991	total: 3m 58s	remaining: 3m 34s
363:	learn: 0.0674959	total: 3m 59s	remaining: 3m 34s
364:	learn: 0.0674937	total: 4m	remaining: 3m 34s
365:	learn: 0.0674919	total: 4m 1s	remaining: 3m 33s
366:	learn: 0.0674911	total: 4m 2s	remaining: 3m 33s
367:	learn: 0.0674895	total: 4m 3s	remaining: 3m 32s
368:	learn: 0.0674887	total: 4m 3s	remaining: 3m 31s
369:	learn: 0.0674884	total: 4m 4s	remaining: 3m 31s
370:	learn: 0.0674877	total: 4m 4s	remaining: 3m 30s
371:	learn: 0.0674845	total: 4m 5s	remaining: 3m 29s
372:	learn: 0.0674834	total: 4m 6s	remaining: 3m 29s
373:	learn: 0.0674819	total: 4m 7s	remaining: 3m 28s
374:	learn: 0.0674806	total: 4m 7s	remaining: 3m 28s
375:	learn: 0.0674797	total: 4m 8s	remaining: 3m 27s
376:	learn: 0.0674789	total: 4m 9s	remaining: 3m 27s
377:	learn: 0.0674782	total: 4m 11s	remaining: 3m 27s
378:	learn: 0.0674775	total: 4m 12s	remaining: 3m 26s
379:	learn: 0.0674770	total: 4m 12s	remaining: 3m 26s
380:	learn: 0.0674763	total: 4m 13s	remaining: 3m 25s
381:	learn: 0.0674760	total: 4m 13s	remaining: 3m 24s
382:	learn: 0.0674744	total: 4m 14s	remaining: 3m 24s
383:	learn: 0.0674735	total: 4m 15s	remaining: 3m 23s
384:	learn: 0.0674732	total: 4m 16s	remaining: 3m 23s
385:	learn: 0.0674709	total: 4m 17s	remaining: 3m 22s
386:	learn: 0.0674698	total: 4m 18s	remaining: 3m 22s
387:	learn: 0.0674687	total: 4m 19s	remaining: 3m 21s
388:	learn: 0.0674677	total: 4m 20s	remaining: 3m 21s
389:	learn: 0.0674673	total: 4m 22s	remaining: 3m 21s
390:	learn: 0.0674656	total: 4m 22s	remaining: 3m 21s
391:	learn: 0.0674641	total: 4m 23s	remaining: 3m 20s
392:	learn: 0.0674634	total: 4m 24s	remaining: 3m 19s
393:	learn: 0.0674631	total: 4m 24s	remaining: 3m 18s
394:	learn: 0.0674601	total: 4m 25s	remaining: 3m 18s
395:	learn: 0.0674600	total: 4m 25s	remaining: 3m 17s
396:	learn: 0.0674589	total: 4m 26s	remaining: 3m 16s
397:	learn: 0.0674578	total: 4m 27s	remaining: 3m 16s
398:	learn: 0.0674571	total: 4m 29s	remaining: 3m 16s
399:	learn: 0.0674548	total: 4m 31s	remaining: 3m 16s
400:	learn: 0.0674520	total: 4m 32s	remaining: 3m 16s
401:	learn: 0.0674508	total: 4m 34s	remaining: 3m 16s
402:	learn: 0.0674500	total: 4m 35s	remaining: 3m 15s
403:	learn: 0.0674496	total: 4m 35s	remaining: 3m 15s
404:	learn: 0.0674484	total: 4m 36s	remaining: 3m 14s
405:	learn: 0.0674481	total: 4m 36s	remaining: 3m 13s
406:	learn: 0.0674475	total: 4m 37s	remaining: 3m 13s
407:	learn: 0.0674466	total: 4m 38s	remaining: 3m 12s
408:	learn: 0.0674453	total: 4m 39s	remaining: 3m 11s
409:	learn: 0.0674431	total: 4m 39s	remaining: 3m 11s
410:	learn: 0.0674427	total: 4m 40s	remaining: 3m 10s
411:	learn: 0.0674409	total: 4m 41s	remaining: 3m 9s
412:	learn: 0.0674396	total: 4m 44s	remaining: 3m 10s
413:	learn: 0.0674380	total: 4m 44s	remaining: 3m 9s
414:	learn: 0.0674372	total: 4m 45s	remaining: 3m 9s
415:	learn: 0.0674358	total: 4m 46s	remaining: 3m 8s
416:	learn: 0.0674341	total: 4m 47s	remaining: 3m 8s
417:	learn: 0.0674322	total: 4m 47s	remaining: 3m 7s
418:	learn: 0.0674318	total: 4m 48s	remaining: 3m 6s
419:	learn: 0.0674313	total: 4m 49s	remaining: 3m 6s
420:	learn: 0.0674295	total: 4m 51s	remaining: 3m 6s
421:	learn: 0.0674283	total: 4m 53s	remaining: 3m 6s
422:	learn: 0.0674266	total: 4m 54s	remaining: 3m 6s
423:	learn: 0.0674250	total: 4m 55s	remaining: 3m 5s
424:	learn: 0.0674249	total: 4m 56s	remaining: 3m 4s
425:	learn: 0.0674229	total: 4m 57s	remaining: 3m 4s
426:	learn: 0.0674215	total: 4m 58s	remaining: 3m 3s
427:	learn: 0.0674205	total: 4m 58s	remaining: 3m 2s
428:	learn: 0.0674187	total: 4m 59s	remaining: 3m 2s
429:	learn: 0.0674185	total: 5m	remaining: 3m 1s
430:	learn: 0.0674178	total: 5m 1s	remaining: 3m
431:	learn: 0.0674162	total: 5m 1s	remaining: 3m
432:	learn: 0.0674152	total: 5m 2s	remaining: 2m 59s
433:	learn: 0.0674129	total: 5m 4s	remaining: 2m 59s
434:	learn: 0.0674126	total: 5m 5s	remaining: 2m 59s
435:	learn: 0.0674113	total: 5m 6s	remaining: 2m 58s
436:	learn: 0.0674104	total: 5m 6s	remaining: 2m 57s
437:	learn: 0.0674084	total: 5m 7s	remaining: 2m 57s
438:	learn: 0.0674051	total: 5m 8s	remaining: 2m 56s
439:	learn: 0.0674038	total: 5m 9s	remaining: 2m 55s
440:	learn: 0.0674028	total: 5m 10s	remaining: 2m 55s
441:	learn: 0.0674003	total: 5m 10s	remaining: 2m 54s
442:	learn: 0.0673999	total: 5m 11s	remaining: 2m 53s
443:	learn: 0.0673990	total: 5m 12s	remaining: 2m 53s
444:	learn: 0.0673983	total: 5m 13s	remaining: 2m 52s
445:	learn: 0.0673970	total: 5m 15s	remaining: 2m 52s
446:	learn: 0.0673966	total: 5m 15s	remaining: 2m 51s
447:	learn: 0.0673948	total: 5m 16s	remaining: 2m 51s
448:	learn: 0.0673939	total: 5m 17s	remaining: 2m 50s
449:	learn: 0.0673933	total: 5m 17s	remaining: 2m 49s
450:	learn: 0.0673921	total: 5m 18s	remaining: 2m 48s
451:	learn: 0.0673915	total: 5m 19s	remaining: 2m 48s
452:	learn: 0.0673875	total: 5m 19s	remaining: 2m 47s
453:	learn: 0.0673868	total: 5m 20s	remaining: 2m 46s
454:	learn: 0.0673868	total: 5m 21s	remaining: 2m 45s
455:	learn: 0.0673851	total: 5m 21s	remaining: 2m 45s
456:	learn: 0.0673841	total: 5m 22s	remaining: 2m 44s
457:	learn: 0.0673836	total: 5m 24s	remaining: 2m 44s
458:	learn: 0.0673832	total: 5m 25s	remaining: 2m 43s
459:	learn: 0.0673814	total: 5m 26s	remaining: 2m 43s
460:	learn: 0.0673810	total: 5m 27s	remaining: 2m 42s
461:	learn: 0.0673800	total: 5m 28s	remaining: 2m 42s
462:	learn: 0.0673796	total: 5m 28s	remaining: 2m 41s
463:	learn: 0.0673793	total: 5m 29s	remaining: 2m 40s
464:	learn: 0.0673787	total: 5m 30s	remaining: 2m 40s

465:	learn: 0.0673782	total: 5m 32s	remaining: 2m 39s
466:	learn: 0.0673768	total: 5m 33s	remaining: 2m 39s
467:	learn: 0.0673766	total: 5m 34s	remaining: 2m 38s
468:	learn: 0.0673761	total: 5m 37s	remaining: 2m 39s
469:	learn: 0.0673751	total: 5m 39s	remaining: 2m 38s
470:	learn: 0.0673734	total: 5m 40s	remaining: 2m 38s
471:	learn: 0.0673730	total: 5m 41s	remaining: 2m 37s
472:	learn: 0.0673719	total: 5m 41s	remaining: 2m 36s
473:	learn: 0.0673709	total: 5m 42s	remaining: 2m 36s
474:	learn: 0.0673705	total: 5m 43s	remaining: 2m 35s
475:	learn: 0.0673698	total: 5m 44s	remaining: 2m 34s
476:	learn: 0.0673698	total: 5m 44s	remaining: 2m 33s
477:	learn: 0.0673692	total: 5m 45s	remaining: 2m 33s
478:	learn: 0.0673682	total: 5m 46s	remaining: 2m 32s
479:	learn: 0.0673678	total: 5m 47s	remaining: 2m 32s
480:	learn: 0.0673673	total: 5m 48s	remaining: 2m 31s
481:	learn: 0.0673666	total: 5m 49s	remaining: 2m 30s
482:	learn: 0.0673654	total: 5m 49s	remaining: 2m 29s
483:	learn: 0.0673651	total: 5m 50s	remaining: 2m 29s
484:	learn: 0.0673632	total: 5m 51s	remaining: 2m 28s
485:	learn: 0.0673626	total: 5m 51s	remaining: 2m 27s
486:	learn: 0.0673614	total: 5m 52s	remaining: 2m 26s
487:	learn: 0.0673605	total: 5m 53s	remaining: 2m 26s
488:	learn: 0.0673605	total: 5m 53s	remaining: 2m 25s
489:	learn: 0.0673593	total: 5m 53s	remaining: 2m 24s
490:	learn: 0.0673583	total: 5m 54s	remaining: 2m 23s
491:	learn: 0.0673574	total: 5m 55s	remaining: 2m 22s
492:	learn: 0.0673565	total: 5m 55s	remaining: 2m 22s
493:	learn: 0.0673561	total: 5m 56s	remaining: 2m 21s
494:	learn: 0.0673545	total: 5m 57s	remaining: 2m 20s
495:	learn: 0.0673527	total: 5m 58s	remaining: 2m 20s
496:	learn: 0.0673509	total: 5m 59s	remaining: 2m 19s
497:	learn: 0.0673498	total: 5m 59s	remaining: 2m 18s
498:	learn: 0.0673494	total: 6m	remaining: 2m 18s
499:	learn: 0.0673488	total: 6m 1s	remaining: 2m 17s
500:	learn: 0.0673481	total: 6m 1s	remaining: 2m 16s
501:	learn: 0.0673476	total: 6m 2s	remaining: 2m 15s
502:	learn: 0.0673459	total: 6m 2s	remaining: 2m 14s
503:	learn: 0.0673441	total: 6m 3s	remaining: 2m 14s
504:	learn: 0.0673435	total: 6m 4s	remaining: 2m 13s
505:	learn: 0.0673426	total: 6m 4s	remaining: 2m 12s
506:	learn: 0.0673409	total: 6m 5s	remaining: 2m 11s
507:	learn: 0.0673393	total: 6m 6s	remaining: 2m 11s
508:	learn: 0.0673382	total: 6m 6s	remaining: 2m 10s
509:	learn: 0.0673354	total: 6m 7s	remaining: 2m 9s
510:	learn: 0.0673336	total: 6m 8s	remaining: 2m 9s
511:	learn: 0.0673330	total: 6m 9s	remaining: 2m 8s
512:	learn: 0.0673301	total: 6m 10s	remaining: 2m 7s
513:	learn: 0.0673296	total: 6m 10s	remaining: 2m 6s
514:	learn: 0.0673277	total: 6m 11s	remaining: 2m 6s
515:	learn: 0.0673269	total: 6m 12s	remaining: 2m 5s
516:	learn: 0.0673251	total: 6m 13s	remaining: 2m 4s
517:	learn: 0.0673239	total: 6m 13s	remaining: 2m 4s
518:	learn: 0.0673233	total: 6m 14s	remaining: 2m 3s
519:	learn: 0.0673223	total: 6m 15s	remaining: 2m 2s
520:	learn: 0.0673216	total: 6m 15s	remaining: 2m 1s
521:	learn: 0.0673210	total: 6m 16s	remaining: 2m 1s
522:	learn: 0.0673180	total: 6m 17s	remaining: 2m
523:	learn: 0.0673174	total: 6m 18s	remaining: 2m
524:	learn: 0.0673170	total: 6m 19s	remaining: 1m 59s
525:	learn: 0.0673152	total: 6m 20s	remaining: 1m 58s
526:	learn: 0.0673102	total: 6m 21s	remaining: 1m 57s
527:	learn: 0.0673089	total: 6m 21s	remaining: 1m 57s
528:	learn: 0.0673087	total: 6m 22s	remaining: 1m 56s
529:	learn: 0.0673082	total: 6m 23s	remaining: 1m 55s
530:	learn: 0.0673047	total: 6m 23s	remaining: 1m 54s
531:	learn: 0.0673036	total: 6m 24s	remaining: 1m 54s
532:	learn: 0.0673025	total: 6m 25s	remaining: 1m 53s
533:	learn: 0.0673018	total: 6m 25s	remaining: 1m 52s
534:	learn: 0.0673016	total: 6m 26s	remaining: 1m 51s
535:	learn: 0.0673011	total: 6m 27s	remaining: 1m 51s
536:	learn: 0.0672985	total: 6m 27s	remaining: 1m 50s
537:	learn: 0.0672965	total: 6m 28s	remaining: 1m 49s
538:	learn: 0.0672954	total: 6m 30s	remaining: 1m 49s
539:	learn: 0.0672945	total: 6m 31s	remaining: 1m 48s
540:	learn: 0.0672931	total: 6m 31s	remaining: 1m 47s
541:	learn: 0.0672917	total: 6m 32s	remaining: 1m 47s
542:	learn: 0.0672908	total: 6m 33s	remaining: 1m 46s
543:	learn: 0.0672901	total: 6m 33s	remaining: 1m 45s
544:	learn: 0.0672899	total: 6m 34s	remaining: 1m 44s
545:	learn: 0.0672886	total: 6m 35s	remaining: 1m 44s
546:	learn: 0.0672876	total: 6m 35s	remaining: 1m 43s
547:	learn: 0.0672876	total: 6m 36s	remaining: 1m 42s
548:	learn: 0.0672858	total: 6m 37s	remaining: 1m 42s
549:	learn: 0.0672849	total: 6m 38s	remaining: 1m 41s
550:	learn: 0.0672843	total: 6m 39s	remaining: 1m 40s
551:	learn: 0.0672825	total: 6m 40s	remaining: 1m 40s
552:	learn: 0.0672823	total: 6m 41s	remaining: 1m 39s
553:	learn: 0.0672817	total: 6m 42s	remaining: 1m 38s
554:	learn: 0.0672802	total: 6m 43s	remaining: 1m 38s
555:	learn: 0.0672798	total: 6m 43s	remaining: 1m 37s
556:	learn: 0.0672795	total: 6m 44s	remaining: 1m 36s
557:	learn: 0.0672788	total: 6m 45s	remaining: 1m 35s
558:	learn: 0.0672776	total: 6m 45s	remaining: 1m 35s
559:	learn: 0.0672764	total: 6m 46s	remaining: 1m 34s
560:	learn: 0.0672755	total: 6m 46s	remaining: 1m 33s
561:	learn: 0.0672749	total: 6m 47s	remaining: 1m 32s
562:	learn: 0.0672746	total: 6m 48s	remaining: 1m 32s
563:	learn: 0.0672727	total: 6m 49s	remaining: 1m 31s
564:	learn: 0.0672715	total: 6m 50s	remaining: 1m 30s
565:	learn: 0.0672707	total: 6m 51s	remaining: 1m 30s
566:	learn: 0.0672702	total: 6m 53s	remaining: 1m 29s
567:	learn: 0.0672694	total: 6m 54s	remaining: 1m 29s
568:	learn: 0.0672689	total: 6m 55s	remaining: 1m 28s
569:	learn: 0.0672680	total: 6m 55s	remaining: 1m 27s
570:	learn: 0.0672668	total: 6m 56s	remaining: 1m 26s
571:	learn: 0.0672668	total: 6m 56s	remaining: 1m 26s
572:	learn: 0.0672658	total: 6m 57s	remaining: 1m 25s
573:	learn: 0.0672644	total: 6m 58s	remaining: 1m 24s
574:	learn: 0.0672634	total: 6m 58s	remaining: 1m 23s
575:	learn: 0.0672634	total: 6m 59s	remaining: 1m 22s
576:	learn: 0.0672621	total: 7m	remaining: 1m 22s
577:	learn: 0.0672608	total: 7m 3s	remaining: 1m 22s
578:	learn: 0.0672605	total: 7m 4s	remaining: 1m 21s
579:	learn: 0.0672586	total: 7m 5s	remaining: 1m 20s
580:	learn: 0.0672573	total: 7m 6s	remaining: 1m 19s
581:	learn: 0.0672569	total: 7m 6s	remaining: 1m 19s
582:	learn: 0.0672558	total: 7m 7s	remaining: 1m 18s
583:	learn: 0.0672553	total: 7m 8s	remaining: 1m 17s
584:	learn: 0.0672547	total: 7m 9s	remaining: 1m 17s
585:	learn: 0.0672514	total: 7m 9s	remaining: 1m 16s
586:	learn: 0.0672489	total: 7m 10s	remaining: 1m 15s
587:	learn: 0.0672474	total: 7m 11s	remaining: 1m 14s
588:	learn: 0.0672463	total: 7m 12s	remaining: 1m 14s
589:	learn: 0.0672460	total: 7m 13s	remaining: 1m 13s
590:	learn: 0.0672455	total: 7m 14s	remaining: 1m 12s
591:	learn: 0.0672445	total: 7m 15s	remaining: 1m 12s
592:	learn: 0.0672435	total: 7m 16s	remaining: 1m 11s
593:	learn: 0.0672413	total: 7m 16s	remaining: 1m 10s
594:	learn: 0.0672404	total: 7m 17s	remaining: 1m 9s
595:	learn: 0.0672392	total: 7m 18s	remaining: 1m 9s
596:	learn: 0.0672378	total: 7m 18s	remaining: 1m 8s
597:	learn: 0.0672372	total: 7m 19s	remaining: 1m 7s
598:	learn: 0.0672371	total: 7m 19s	remaining: 1m 6s
599:	learn: 0.0672357	total: 7m 20s	remaining: 1m 6s
600:	learn: 0.0672356	total: 7m 21s	remaining: 1m 5s
601:	learn: 0.0672337	total: 7m 22s	remaining: 1m 4s
602:	learn: 0.0672328	total: 7m 23s	remaining: 1m 4s
603:	learn: 0.0672320	total: 7m 25s	remaining: 1m 3s
604:	learn: 0.0672315	total: 7m 25s	remaining: 1m 2s
605:	learn: 0.0672302	total: 7m 26s	remaining: 1m 1s
606:	learn: 0.0672286	total: 7m 27s	remaining: 1m 1s
607:	learn: 0.0672259	total: 7m 28s	remaining: 1m
608:	learn: 0.0672252	total: 7m 28s	remaining: 59.7s
609:	learn: 0.0672241	total: 7m 29s	remaining: 58.9s
610:	learn: 0.0672233	total: 7m 30s	remaining: 58.2s
611:	learn: 0.0672215	total: 7m 30s	remaining: 57.4s
612:	learn: 0.0672209	total: 7m 31s	remaining: 56.7s
613:	learn: 0.0672199	total: 7m 31s	remaining: 55.9s
614:	learn: 0.0672195	total: 7m 32s	remaining: 55.2s
615:	learn: 0.0672189	total: 7m 33s	remaining: 54.5s
616:	learn: 0.0672182	total: 7m 34s	remaining: 53.7s
617:	learn: 0.0672164	total: 7m 35s	remaining: 53.1s
618:	learn: 0.0672160	total: 7m 36s	remaining: 52.4s

619:	learn: 0.0672158	total: 7m 37s	remaining: 51.6s
620:	learn: 0.0672153	total: 7m 37s	remaining: 50.9s
621:	learn: 0.0672139	total: 7m 38s	remaining: 50.1s
622:	learn: 0.0672129	total: 7m 38s	remaining: 49.4s
623:	learn: 0.0672116	total: 7m 39s	remaining: 48.6s
624:	learn: 0.0672097	total: 7m 40s	remaining: 47.9s
625:	learn: 0.0672090	total: 7m 40s	remaining: 47.1s
626:	learn: 0.0672070	total: 7m 41s	remaining: 46.4s
627:	learn: 0.0672063	total: 7m 42s	remaining: 45.6s
628:	learn: 0.0672058	total: 7m 43s	remaining: 44.9s
629:	learn: 0.0672042	total: 7m 43s	remaining: 44.2s
630:	learn: 0.0672024	total: 7m 44s	remaining: 43.4s
631:	learn: 0.0671995	total: 7m 45s	remaining: 42.8s
632:	learn: 0.0671995	total: 7m 45s	remaining: 42s
633:	learn: 0.0671994	total: 7m 46s	remaining: 41.2s
634:	learn: 0.0671988	total: 7m 47s	remaining: 40.5s
635:	learn: 0.0671979	total: 7m 47s	remaining: 39.7s
636:	learn: 0.0671975	total: 7m 48s	remaining: 39s
637:	learn: 0.0671957	total: 7m 49s	remaining: 38.3s
638:	learn: 0.0671954	total: 7m 50s	remaining: 37.5s
639:	learn: 0.0671929	total: 7m 50s	remaining: 36.8s
640:	learn: 0.0671918	total: 7m 51s	remaining: 36s
641:	learn: 0.0671905	total: 7m 52s	remaining: 35.3s
642:	learn: 0.0671895	total: 7m 53s	remaining: 34.6s
643:	learn: 0.0671884	total: 7m 53s	remaining: 33.8s
644:	learn: 0.0671869	total: 7m 55s	remaining: 33.1s
645:	learn: 0.0671850	total: 7m 56s	remaining: 32.5s
646:	learn: 0.0671840	total: 7m 57s	remaining: 31.7s
647:	learn: 0.0671822	total: 7m 58s	remaining: 31s
648:	learn: 0.0671795	total: 7m 58s	remaining: 30.3s
649:	learn: 0.0671790	total: 7m 59s	remaining: 29.5s
650:	learn: 0.0671782	total: 8m	remaining: 28.8s
651:	learn: 0.0671776	total: 8m	remaining: 28s
652:	learn: 0.0671763	total: 8m 1s	remaining: 27.3s
653:	learn: 0.0671761	total: 8m 2s	remaining: 26.5s
654:	learn: 0.0671756	total: 8m 2s	remaining: 25.8s
655:	learn: 0.0671751	total: 8m 3s	remaining: 25.1s
656:	learn: 0.0671742	total: 8m 4s	remaining: 24.3s
657:	learn: 0.0671730	total: 8m 4s	remaining: 23.6s
658:	learn: 0.0671725	total: 8m 5s	remaining: 22.8s
659:	learn: 0.0671723	total: 8m 7s	remaining: 22.1s
660:	learn: 0.0671709	total: 8m 7s	remaining: 21.4s
661:	learn: 0.0671687	total: 8m 8s	remaining: 20.7s
662:	learn: 0.0671680	total: 8m 9s	remaining: 19.9s
663:	learn: 0.0671669	total: 8m 10s	remaining: 19.2s
664:	learn: 0.0671627	total: 8m 10s	remaining: 18.5s
665:	learn: 0.0671628	total: 8m 11s	remaining: 17.7s
666:	learn: 0.0671619	total: 8m 11s	remaining: 17s
667:	learn: 0.0671607	total: 8m 12s	remaining: 16.2s
668:	learn: 0.0671591	total: 8m 12s	remaining: 15.5s
669:	learn: 0.0671583	total: 8m 13s	remaining: 14.7s
670:	learn: 0.0671560	total: 8m 14s	remaining: 14s
671:	learn: 0.0671554	total: 8m 15s	remaining: 13.3s
672:	learn: 0.0671553	total: 8m 16s	remaining: 12.5s
673:	learn: 0.0671549	total: 8m 17s	remaining: 11.8s
674:	learn: 0.0671535	total: 8m 18s	remaining: 11.1s
675:	learn: 0.0671530	total: 8m 18s	remaining: 10.3s
676:	learn: 0.0671526	total: 8m 19s	remaining: 9.59s
677:	learn: 0.0671515	total: 8m 20s	remaining: 8.85s
678:	learn: 0.0671513	total: 8m 20s	remaining: 8.11s
679:	learn: 0.0671484	total: 8m 21s	remaining: 7.37s
680:	learn: 0.0671474	total: 8m 21s	remaining: 6.63s
681:	learn: 0.0671452	total: 8m 22s	remaining: 5.9s
682:	learn: 0.0671452	total: 8m 22s	remaining: 5.15s
683:	learn: 0.0671445	total: 8m 23s	remaining: 4.42s
684:	learn: 0.0671440	total: 8m 24s	remaining: 3.68s
685:	learn: 0.0671428	total: 8m 24s	remaining: 2.94s
686:	learn: 0.0671425	total: 8m 25s	remaining: 2.21s
687:	learn: 0.0671400	total: 8m 26s	remaining: 1.47s
688:	learn: 0.0671397	total: 8m 26s	remaining: 735ms
689:	learn: 0.0671392	total: 8m 27s	remaining: 0us

In [39]:
submission = pd.DataFrame({
    'ParcelId': test_df['ParcelId'],
})
test_dates = {
    '201612': pd.Timestamp('2016-11-30')
}
for label, test_date in test_dates.items():
    print("Predicting for: %s ... " % (label))
    submission[label] = y_pred
    
submission.to_csv(data_path + 'Model_5_CatBoost.csv', float_format='%.6f',index=False)

Predicting for: 201612 ...

In [40]:
predictions_model_5 = pd.read_csv(data_path + 'Model_5_CatBoost.csv')
predictions_model_5.head()

   ParcelId    201612
0  10754147  0.017949
1  10759547  0.012833
2  10843547  0.034269
3  10859147  0.032328
4  10879947  0.015110