## CAT BOOST REGRESSOR

In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
color = sns.color_palette()
import zipfile
import re
from scipy import stats
from catboost import CatBoostRegressor
from tqdm import tqdm
import gc
import datetime as dt

<font color = blue> Once we have imported the necessary libraries, we are going to define our data path and then, load the data: </font>

In [2]:
data_path = './data/'

In [3]:
print('Loading Properties ...')
properties2016 = pd.read_csv(data_path + 'properties_2016.csv', low_memory = False)
properties2017 = pd.read_csv(data_path + 'properties_2017.csv', low_memory = False)

Loading Properties ...

In [4]:
properties2016.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2015.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,650756.0,1413387.0,2015.0,762631.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,7.0,NaN,NaN,...,1.0,NaN,571346.0,1156834.0,2015.0,585488.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,NaN,NaN,193796.0,433491.0,2015.0,239695.0,5725.17,NaN,NaN,NaN

In [5]:
properties2016.shape

(2985217, 58)

In [6]:
properties2017.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2016.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,5.0,NaN,NaN,NaN,...,1.0,NaN,660680.0,1434941.0,2016.0,774261.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,6.0,NaN,NaN,...,1.0,NaN,580059.0,1174475.0,2016.0,594416.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,1.0,NaN,196751.0,440101.0,2016.0,243350.0,5725.17,NaN,NaN,NaN

In [7]:
properties2017.shape

(2985217, 58)

<font color = blue> We are going to specify the parameter 'parse_dates' to make the column 'transactiondate' in train files date formatted: </font>

In [8]:
print('Loading Train ...')
train2016 = pd.read_csv(data_path + 'train_2016_v2.csv', parse_dates=['transactiondate'], low_memory=False)
train2017 = pd.read_csv(data_path + 'train_2017.csv', parse_dates=['transactiondate'], low_memory=False)

Loading Train ...

In [9]:
train2016.shape

(90275, 3)

In [10]:
train2017.shape

(77613, 3)

In [11]:
train2016.head()

   parcelid  logerror transactiondate
0  11016594    0.0276      2016-01-01
1  14366692   -0.1684      2016-01-01
2  12098116   -0.0040      2016-01-01
3  12643413    0.0218      2016-01-02
4  14432541   -0.0050      2016-01-02

<font color = blue> Now we are going to parse dates to get one column for year, one for month, one for day and one for quarter: </font>

In [12]:
def add_date_features(df):
    df["transaction_year"] = df["transactiondate"].dt.year
    df["transaction_month"] = (df["transactiondate"].dt.year - 2016)*12 + df["transactiondate"].dt.month
    df["transaction_day"] = df["transactiondate"].dt.day
    df["transaction_quarter"] = (df["transactiondate"].dt.year - 2016)*4 + df["transactiondate"].dt.quarter
    df.drop(["transactiondate"], inplace=True, axis=1)
    return df

In [13]:
train2016 = add_date_features(train2016)
train2017 = add_date_features(train2017)

In [14]:
train2016.head()

,parcelid,logerror,transaction_year,transaction_month,transaction_day,transaction_quarter
0,11016594,0.0276,2016,1,1,1
1,14366692,-0.1684,2016,1,1,1
2,12098116,-0.0040,2016,1,1,1
3,12643413,0.0218,2016,1,2,1
4,14432541,-0.0050,2016,1,2,1

In [15]:
print('Loading Sample ...')
sample_submission = pd.read_csv(data_path + 'sample_submission.csv', low_memory = False)

Loading Sample ...

<font color = blue> Our sample submission will be a file with the parcel id for each property and six prediction columns for different dates (last 2016 quarter and last 2017 quarter): </font>

In [16]:
sample_submission.head()

   ParcelId  201610  201611  201612  201710  201711  201712
0  10754147       0       0       0       0       0       0
1  10759547       0       0       0       0       0       0
2  10843547       0       0       0       0       0       0
3  10859147       0       0       0       0       0       0
4  10879947       0       0       0       0       0       0

<font color = blue> As we are going to apply the first model, cat boost, to the column for 201611 predictions, we remove the other columns: </font>

In [17]:
sample_submission_model_3 = sample_submission.drop(columns = ['201610', '201612', '201710', '201711', '201712'])
sample_submission_model_3.head()

   ParcelId  201611
0  10754147       0
1  10759547       0
2  10843547       0
3  10859147       0
4  10879947       0

<font color = blue> We will merge properties and train files to get all data grouped: </font>

In [18]:
print('Merging Train with Properties ...')
train2016 = pd.merge(train2016, properties2016, how = 'left', on = 'parcelid')
train2017 = pd.merge(train2017, properties2017, how = 'left', on = 'parcelid')

Merging Train with Properties ...

In [19]:
train2016.head()

,parcelid,logerror,transaction_year,transaction_month,transaction_day,transaction_quarter,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,11016594,0.0276,2016,1,1,1,1.0,NaN,NaN,2.0,...,NaN,NaN,122754.0,360170.0,2015.0,237416.0,6735.88,NaN,NaN,6.037107e+13
1,14366692,-0.1684,2016,1,1,1,NaN,NaN,NaN,3.5,...,NaN,NaN,346458.0,585529.0,2015.0,239071.0,10153.02,NaN,NaN,NaN
2,12098116,-0.0040,2016,1,1,1,1.0,NaN,NaN,3.0,...,NaN,NaN,61994.0,119906.0,2015.0,57912.0,11484.48,NaN,NaN,6.037464e+13
3,12643413,0.0218,2016,1,2,1,1.0,NaN,NaN,2.0,...,NaN,NaN,171518.0,244880.0,2015.0,73362.0,3048.74,NaN,NaN,6.037296e+13
4,14432541,-0.0050,2016,1,2,1,NaN,NaN,NaN,2.5,...,2.0,NaN,169574.0,434551.0,2015.0,264977.0,5488.96,NaN,NaN,6.059042e+13

In [20]:
train2016.shape

(90275, 63)

In [21]:
train2017.head()

,parcelid,logerror,transaction_year,transaction_month,transaction_day,transaction_quarter,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,14297519,0.025595,2017,13,1,5,NaN,NaN,NaN,3.5,...,NaN,NaN,485713.0,1023282.0,2016.0,537569.0,11013.72,NaN,NaN,6.059063e+13
1,17052889,0.055619,2017,13,1,5,NaN,NaN,NaN,1.0,...,1.0,NaN,88000.0,464000.0,2016.0,376000.0,5672.48,NaN,NaN,6.111001e+13
2,14186244,0.005383,2017,13,1,5,NaN,NaN,NaN,2.0,...,1.0,NaN,85289.0,564778.0,2016.0,479489.0,6488.30,NaN,NaN,6.059022e+13
3,12177905,-0.103410,2017,13,1,5,NaN,NaN,NaN,3.0,...,NaN,NaN,108918.0,145143.0,2016.0,36225.0,1777.51,NaN,NaN,6.037300e+13
4,10887214,0.006940,2017,13,1,5,1.0,NaN,NaN,3.0,...,NaN,NaN,73681.0,119407.0,2016.0,45726.0,1533.89,NaN,NaN,6.037124e+13

In [22]:
train2017.shape

(77613, 63)

<font color = blue> As we should not use the 2016 tax values when predicting log errors against the 2016 log errors, we will omit this information for the 2016 predicitons columns: </font>

In [23]:
print('Tax Features 2017  ...')
train2017.iloc[:, train2017.columns.str.startswith('tax')] = np.nan
train2017.iloc[:, train2017.columns.str.endswith('taxvaluedollarcnt')] = np.nan

Tax Features 2017  ...

In [24]:
train2017.head()

,parcelid,logerror,transaction_year,transaction_month,transaction_day,transaction_quarter,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,14297519,0.025595,2017,13,1,5,NaN,NaN,NaN,3.5,...,NaN,NaN,NaN,NaN,2016.0,NaN,NaN,NaN,NaN,6.059063e+13
1,17052889,0.055619,2017,13,1,5,NaN,NaN,NaN,1.0,...,1.0,NaN,NaN,NaN,2016.0,NaN,NaN,NaN,NaN,6.111001e+13
2,14186244,0.005383,2017,13,1,5,NaN,NaN,NaN,2.0,...,1.0,NaN,NaN,NaN,2016.0,NaN,NaN,NaN,NaN,6.059022e+13
3,12177905,-0.103410,2017,13,1,5,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,2016.0,NaN,NaN,NaN,NaN,6.037300e+13
4,10887214,0.006940,2017,13,1,5,1.0,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,2016.0,NaN,NaN,NaN,NaN,6.037124e+13

<font color = blue> Now we will generate our training and test files to run the model, the training file will be all properties and train from 2016 and 2017, while for the test, we will merge the sample submission with the unique properties file: </font>

In [25]:
print('Concat Train 2016 & 2017 ...')
train_df = pd.concat([train2016, train2017], axis = 0)
test_df = pd.merge(sample_submission_model_3[['ParcelId']], properties2016.rename(columns = {'parcelid': 'ParcelId'}), how = 'left', on = 'ParcelId')

Concat Train 2016 & 2017 ...

In [26]:
train_df.head()

,parcelid,logerror,transaction_year,transaction_month,transaction_day,transaction_quarter,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,11016594,0.0276,2016,1,1,1,1.0,NaN,NaN,2.0,...,NaN,NaN,122754.0,360170.0,2015.0,237416.0,6735.88,NaN,NaN,6.037107e+13
1,14366692,-0.1684,2016,1,1,1,NaN,NaN,NaN,3.5,...,NaN,NaN,346458.0,585529.0,2015.0,239071.0,10153.02,NaN,NaN,NaN
2,12098116,-0.0040,2016,1,1,1,1.0,NaN,NaN,3.0,...,NaN,NaN,61994.0,119906.0,2015.0,57912.0,11484.48,NaN,NaN,6.037464e+13
3,12643413,0.0218,2016,1,2,1,1.0,NaN,NaN,2.0,...,NaN,NaN,171518.0,244880.0,2015.0,73362.0,3048.74,NaN,NaN,6.037296e+13
4,14432541,-0.0050,2016,1,2,1,NaN,NaN,NaN,2.5,...,2.0,NaN,169574.0,434551.0,2015.0,264977.0,5488.96,NaN,NaN,6.059042e+13

In [27]:
train_df.shape

(167888, 63)

In [28]:
test_df.head()

,ParcelId,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2015.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,650756.0,1413387.0,2015.0,762631.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,7.0,NaN,NaN,...,1.0,NaN,571346.0,1156834.0,2015.0,585488.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,NaN,NaN,193796.0,433491.0,2015.0,239695.0,5725.17,NaN,NaN,NaN

In [29]:
test_df.shape

(2985217, 58)

<font color = blue> To optimize memory management, we are using garbage collections algorithms (GC), which solve reference cycles (when one or more objects are referencing each other) that reference counting cannot detect: </font>

In [30]:
del properties2016, properties2017, train2016, train2017
gc.collect();

<font color = blue> Let's do some feature engineering. We have to deal with missing values, where we will establish a threshold of 98% missing values to remove those fields, and also with features with one unique value and others that we do not want to use in our training: </font>

In [31]:
print('Missing data fields to remove ...')
missing_perc_thresh = 0.95
exclude_missing = []
num_rows = train_df.shape[0]
for c in train_df.columns:
    num_missing = train_df[c].isnull().sum()
    if num_missing == 0:
        continue
    missing_frac = num_missing / float(num_rows)
    if missing_frac > missing_perc_thresh:
        exclude_missing.append(c)
print(exclude_missing)
print("We exclude: %s" % len(exclude_missing))

Missing data fields to remove ...
['architecturalstyletypeid', 'basementsqft', 'buildingclasstypeid', 'decktypeid', 'finishedsquarefeet13', 'finishedsquarefeet15', 'finishedsquarefeet6', 'hashottuborspa', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'storytypeid', 'typeconstructiontypeid', 'yardbuildingsqft17', 'yardbuildingsqft26', 'fireplaceflag', 'taxdelinquencyflag', 'taxdelinquencyyear']
We exclude: 18

In [32]:
print ("Remove features with one unique value ...")
exclude_unique = []
for c in train_df.columns:
    num_uniques = len(train_df[c].unique())
    if train_df[c].isnull().sum() != 0:
        num_uniques -= 1
    if num_uniques == 1:
        exclude_unique.append(c)
print(exclude_unique)
print("We exclude: %s" % len(exclude_unique))

Remove features with one unique value ...
['decktypeid', 'hashottuborspa', 'poolcnt', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7', 'storytypeid', 'fireplaceflag', 'taxdelinquencyflag']
We exclude: 9

In [33]:
del num_rows, missing_perc_thresh
gc.collect();

In [34]:
print ("Define training features ...")
exclude_other = ['parcelid', 'logerror', 'propertyzoningdesc']
train_features = []
for c in train_df.columns:
    if c not in exclude_missing \
       and c not in exclude_other:
        train_features.append(c)
print(train_features)
print("We use these for training: %s" % len(train_features))

Define training features ...
['transaction_year', 'transaction_month', 'transaction_day', 'transaction_quarter', 'airconditioningtypeid', 'bathroomcnt', 'bedroomcnt', 'buildingqualitytypeid', 'calculatedbathnbr', 'finishedfloor1squarefeet', 'calculatedfinishedsquarefeet', 'finishedsquarefeet12', 'finishedsquarefeet50', 'fips', 'fireplacecnt', 'fullbathcnt', 'garagecarcnt', 'garagetotalsqft', 'heatingorsystemtypeid', 'latitude', 'longitude', 'lotsizesquarefeet', 'poolcnt', 'pooltypeid7', 'propertycountylandusecode', 'propertylandusetypeid', 'rawcensustractandblock', 'regionidcity', 'regionidcounty', 'regionidneighborhood', 'regionidzip', 'roomcnt', 'threequarterbathnbr', 'unitcnt', 'yearbuilt', 'numberofstories', 'structuretaxvaluedollarcnt', 'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt', 'taxamount', 'censustractandblock']
We use these for training: 42

<font color = blue> Now we have to deal with categorical features: </font>

In [35]:
print ("Define categorical features ...")
cat_feature_inds = []
cat_unique_thresh = 100
for i, c in enumerate(train_features):
    num_uniques = len(train_df[c].unique())
    if num_uniques < cat_unique_thresh \
       and not 'sqft' in c \
       and not 'cnt' in c \
       and not 'nbr' in c \
       and not 'number' in c:
        cat_feature_inds.append(i)
print("Cat features are: %s" % [train_features[ind] for ind in cat_feature_inds])

Define categorical features ...
Cat features are: ['transaction_year', 'transaction_month', 'transaction_day', 'transaction_quarter', 'airconditioningtypeid', 'buildingqualitytypeid', 'fips', 'heatingorsystemtypeid', 'pooltypeid7', 'propertycountylandusecode', 'propertylandusetypeid', 'regionidcounty', 'assessmentyear']

<font color = blue> As we are going to use a tree based model, we will replace NaN values by '-999' so they do not interfere with proper data: </font>

In [36]:
print ("Replacing NaN values by -999 ...")
train_df.fillna(-999, inplace=True)
test_df.fillna(-999, inplace=True)

Replacing NaN values by -999 ...

In [37]:
print ("Training model 3: Cat boost ...")
X_train = train_df[train_features]
y_train = train_df.logerror
print(X_train.shape, y_train.shape)

test_df['transactiondate'] = pd.Timestamp('2016-12-01') 
test_df = add_date_features(test_df)
X_test = test_df[train_features]
print(X_test.shape)

Training model 3: Cat boost ...
(167888, 42) (167888,)
(2985217, 42)

In [38]:
y_pred = 0.0
model = CatBoostRegressor(
    iterations = 720, learning_rate = 0.03,
    depth = 8, l2_leaf_reg = 5,
    loss_function = 'MAE',
    eval_metric = 'MAE',
    random_seed = i)
model.fit(
    X_train, y_train,
    cat_features = cat_feature_inds)
y_pred += model.predict(X_test)

0:	learn: 0.0688886	total: 575ms	remaining: 6m 53s
1:	learn: 0.0686979	total: 1.1s	remaining: 6m 35s
2:	learn: 0.0685757	total: 1.67s	remaining: 6m 38s
3:	learn: 0.0684958	total: 2.34s	remaining: 6m 58s
4:	learn: 0.0684539	total: 2.78s	remaining: 6m 37s
5:	learn: 0.0684085	total: 4.21s	remaining: 8m 20s
6:	learn: 0.0683441	total: 4.77s	remaining: 8m 5s
7:	learn: 0.0683032	total: 5.24s	remaining: 7m 46s
8:	learn: 0.0682586	total: 5.68s	remaining: 7m 28s
9:	learn: 0.0682175	total: 6.22s	remaining: 7m 21s
10:	learn: 0.0681764	total: 6.66s	remaining: 7m 9s
11:	learn: 0.0681526	total: 7.06s	remaining: 6m 56s
12:	learn: 0.0681346	total: 7.47s	remaining: 6m 46s
13:	learn: 0.0681071	total: 7.89s	remaining: 6m 37s
14:	learn: 0.0680927	total: 8.34s	remaining: 6m 31s
15:	learn: 0.0680698	total: 8.8s	remaining: 6m 27s
16:	learn: 0.0680362	total: 9.3s	remaining: 6m 24s
17:	learn: 0.0680272	total: 9.71s	remaining: 6m 18s
18:	learn: 0.0679979	total: 10.2s	remaining: 6m 15s
19:	learn: 0.0679702	total: 10.6s	remaining: 6m 11s
20:	learn: 0.0679540	total: 11.1s	remaining: 6m 8s
21:	learn: 0.0679457	total: 11.5s	remaining: 6m 5s
22:	learn: 0.0679264	total: 11.9s	remaining: 6m 1s
23:	learn: 0.0679079	total: 12.4s	remaining: 6m
24:	learn: 0.0678992	total: 13s	remaining: 6m
25:	learn: 0.0678848	total: 13.4s	remaining: 5m 58s
26:	learn: 0.0678634	total: 14.4s	remaining: 6m 8s
27:	learn: 0.0678453	total: 14.9s	remaining: 6m 7s
28:	learn: 0.0678296	total: 15.3s	remaining: 6m 3s
29:	learn: 0.0678223	total: 15.7s	remaining: 6m
30:	learn: 0.0678079	total: 16.1s	remaining: 5m 58s
31:	learn: 0.0677897	total: 16.6s	remaining: 5m 56s
32:	learn: 0.0677847	total: 17s	remaining: 5m 53s
33:	learn: 0.0677777	total: 17.4s	remaining: 5m 51s
34:	learn: 0.0677638	total: 17.8s	remaining: 5m 48s
35:	learn: 0.0677493	total: 18.2s	remaining: 5m 45s
36:	learn: 0.0677487	total: 18.3s	remaining: 5m 38s
37:	learn: 0.0677407	total: 18.7s	remaining: 5m 35s
38:	learn: 0.0677405	total: 18.8s	remaining: 5m 27s
39:	learn: 0.0677305	total: 19.2s	remaining: 5m 26s
40:	learn: 0.0677176	total: 19.5s	remaining: 5m 23s
41:	learn: 0.0677069	total: 19.9s	remaining: 5m 21s
42:	learn: 0.0677004	total: 20.3s	remaining: 5m 19s
43:	learn: 0.0676929	total: 20.6s	remaining: 5m 16s
44:	learn: 0.0676909	total: 20.9s	remaining: 5m 14s
45:	learn: 0.0676761	total: 21.4s	remaining: 5m 13s
46:	learn: 0.0676661	total: 21.8s	remaining: 5m 12s
47:	learn: 0.0676637	total: 22.2s	remaining: 5m 10s
48:	learn: 0.0676534	total: 22.5s	remaining: 5m 8s
49:	learn: 0.0676401	total: 22.9s	remaining: 5m 7s
50:	learn: 0.0676378	total: 23.4s	remaining: 5m 7s
51:	learn: 0.0676279	total: 23.9s	remaining: 5m 7s
52:	learn: 0.0676160	total: 24.8s	remaining: 5m 12s
53:	learn: 0.0676078	total: 25.3s	remaining: 5m 11s
54:	learn: 0.0675992	total: 25.7s	remaining: 5m 10s
55:	learn: 0.0675918	total: 26.1s	remaining: 5m 9s
56:	learn: 0.0675802	total: 26.6s	remaining: 5m 9s
57:	learn: 0.0675761	total: 27s	remaining: 5m 8s
58:	learn: 0.0675702	total: 27.5s	remaining: 5m 7s
59:	learn: 0.0675692	total: 27.8s	remaining: 5m 5s
60:	learn: 0.0675628	total: 28.2s	remaining: 5m 4s
61:	learn: 0.0675611	total: 28.6s	remaining: 5m 3s
62:	learn: 0.0675549	total: 28.9s	remaining: 5m 1s
63:	learn: 0.0675536	total: 29.2s	remaining: 4m 59s
64:	learn: 0.0675470	total: 29.7s	remaining: 4m 59s
65:	learn: 0.0675362	total: 30.3s	remaining: 4m 59s
66:	learn: 0.0675250	total: 30.7s	remaining: 4m 59s
67:	learn: 0.0675171	total: 31.1s	remaining: 4m 58s
68:	learn: 0.0675069	total: 31.6s	remaining: 4m 57s
69:	learn: 0.0675028	total: 32s	remaining: 4m 57s
70:	learn: 0.0674922	total: 32.4s	remaining: 4m 56s
71:	learn: 0.0674882	total: 32.8s	remaining: 4m 55s
72:	learn: 0.0674705	total: 33.2s	remaining: 4m 54s
73:	learn: 0.0674658	total: 33.8s	remaining: 4m 54s
74:	learn: 0.0674600	total: 34.2s	remaining: 4m 54s
75:	learn: 0.0674557	total: 35.3s	remaining: 4m 59s
76:	learn: 0.0674556	total: 35.5s	remaining: 4m 56s
77:	learn: 0.0674515	total: 36.1s	remaining: 4m 57s
78:	learn: 0.0674434	total: 36.5s	remaining: 4m 56s
79:	learn: 0.0674402	total: 36.9s	remaining: 4m 55s
80:	learn: 0.0674345	total: 37.4s	remaining: 4m 54s
81:	learn: 0.0674291	total: 37.8s	remaining: 4m 54s
82:	learn: 0.0674269	total: 38.2s	remaining: 4m 53s
83:	learn: 0.0674247	total: 38.5s	remaining: 4m 51s
84:	learn: 0.0674175	total: 38.9s	remaining: 4m 50s
85:	learn: 0.0674136	total: 39.3s	remaining: 4m 49s
86:	learn: 0.0674113	total: 39.7s	remaining: 4m 48s
87:	learn: 0.0674107	total: 39.9s	remaining: 4m 46s
88:	learn: 0.0674068	total: 40.3s	remaining: 4m 45s
89:	learn: 0.0674068	total: 40.4s	remaining: 4m 42s
90:	learn: 0.0673973	total: 40.8s	remaining: 4m 42s
91:	learn: 0.0673907	total: 41.4s	remaining: 4m 42s
92:	learn: 0.0673848	total: 41.8s	remaining: 4m 41s
93:	learn: 0.0673783	total: 42.2s	remaining: 4m 41s
94:	learn: 0.0673757	total: 42.6s	remaining: 4m 40s
95:	learn: 0.0673727	total: 43s	remaining: 4m 39s
96:	learn: 0.0673714	total: 43.3s	remaining: 4m 38s
97:	learn: 0.0673663	total: 43.7s	remaining: 4m 37s
98:	learn: 0.0673642	total: 44.3s	remaining: 4m 38s
99:	learn: 0.0673572	total: 44.8s	remaining: 4m 37s
100:	learn: 0.0673471	total: 45.2s	remaining: 4m 37s
101:	learn: 0.0673430	total: 46.6s	remaining: 4m 42s
102:	learn: 0.0673393	total: 47s	remaining: 4m 41s
103:	learn: 0.0673368	total: 47.5s	remaining: 4m 41s
104:	learn: 0.0673337	total: 48.1s	remaining: 4m 41s
105:	learn: 0.0673262	total: 48.6s	remaining: 4m 41s
106:	learn: 0.0673220	total: 49.1s	remaining: 4m 41s
107:	learn: 0.0673207	total: 49.5s	remaining: 4m 40s
108:	learn: 0.0673190	total: 49.9s	remaining: 4m 39s
109:	learn: 0.0673152	total: 50.2s	remaining: 4m 38s
110:	learn: 0.0673128	total: 50.5s	remaining: 4m 37s
111:	learn: 0.0673039	total: 51s	remaining: 4m 36s
112:	learn: 0.0672973	total: 51.5s	remaining: 4m 36s
113:	learn: 0.0672921	total: 52s	remaining: 4m 36s
114:	learn: 0.0672848	total: 52.3s	remaining: 4m 35s
115:	learn: 0.0672812	total: 52.7s	remaining: 4m 34s
116:	learn: 0.0672682	total: 53.1s	remaining: 4m 33s
117:	learn: 0.0672646	total: 53.4s	remaining: 4m 32s
118:	learn: 0.0672524	total: 53.8s	remaining: 4m 31s
119:	learn: 0.0672500	total: 54.3s	remaining: 4m 31s
120:	learn: 0.0672471	total: 54.8s	remaining: 4m 31s
121:	learn: 0.0672451	total: 55.4s	remaining: 4m 31s
122:	learn: 0.0672417	total: 56.5s	remaining: 4m 34s
123:	learn: 0.0672402	total: 57s	remaining: 4m 33s
124:	learn: 0.0672387	total: 57.4s	remaining: 4m 33s
125:	learn: 0.0672363	total: 57.9s	remaining: 4m 32s
126:	learn: 0.0672362	total: 58s	remaining: 4m 30s
127:	learn: 0.0672347	total: 58.4s	remaining: 4m 29s
128:	learn: 0.0672275	total: 58.8s	remaining: 4m 29s
129:	learn: 0.0672259	total: 59.2s	remaining: 4m 28s
130:	learn: 0.0672236	total: 59.6s	remaining: 4m 27s
131:	learn: 0.0672223	total: 59.9s	remaining: 4m 26s
132:	learn: 0.0672221	total: 1m	remaining: 4m 24s
133:	learn: 0.0672094	total: 1m	remaining: 4m 24s
134:	learn: 0.0672036	total: 1m	remaining: 4m 23s
135:	learn: 0.0671949	total: 1m 1s	remaining: 4m 22s
136:	learn: 0.0671942	total: 1m 1s	remaining: 4m 21s
137:	learn: 0.0671877	total: 1m 1s	remaining: 4m 20s
138:	learn: 0.0671792	total: 1m 2s	remaining: 4m 19s
139:	learn: 0.0671764	total: 1m 2s	remaining: 4m 18s
140:	learn: 0.0671755	total: 1m 2s	remaining: 4m 17s
141:	learn: 0.0671721	total: 1m 3s	remaining: 4m 17s
142:	learn: 0.0671604	total: 1m 3s	remaining: 4m 16s
143:	learn: 0.0671544	total: 1m 3s	remaining: 4m 15s
144:	learn: 0.0671494	total: 1m 4s	remaining: 4m 15s
145:	learn: 0.0671475	total: 1m 4s	remaining: 4m 14s
146:	learn: 0.0671357	total: 1m 5s	remaining: 4m 13s
147:	learn: 0.0671296	total: 1m 5s	remaining: 4m 13s
148:	learn: 0.0671286	total: 1m 6s	remaining: 4m 12s
149:	learn: 0.0671238	total: 1m 7s	remaining: 4m 14s
150:	learn: 0.0671197	total: 1m 7s	remaining: 4m 14s
151:	learn: 0.0671161	total: 1m 7s	remaining: 4m 13s
152:	learn: 0.0671105	total: 1m 8s	remaining: 4m 12s
153:	learn: 0.0671046	total: 1m 8s	remaining: 4m 11s
154:	learn: 0.0670990	total: 1m 8s	remaining: 4m 11s
155:	learn: 0.0670869	total: 1m 9s	remaining: 4m 10s
156:	learn: 0.0670848	total: 1m 9s	remaining: 4m 9s
157:	learn: 0.0670831	total: 1m 9s	remaining: 4m 8s

158:	learn: 0.0670785	total: 1m 10s	remaining: 4m 8s
159:	learn: 0.0670749	total: 1m 10s	remaining: 4m 7s
160:	learn: 0.0670699	total: 1m 11s	remaining: 4m 7s
161:	learn: 0.0670617	total: 1m 11s	remaining: 4m 6s
162:	learn: 0.0670602	total: 1m 11s	remaining: 4m 5s
163:	learn: 0.0670601	total: 1m 11s	remaining: 4m 4s
164:	learn: 0.0670555	total: 1m 12s	remaining: 4m 3s
165:	learn: 0.0670546	total: 1m 12s	remaining: 4m 2s
166:	learn: 0.0670499	total: 1m 13s	remaining: 4m 1s
167:	learn: 0.0670475	total: 1m 13s	remaining: 4m 1s
168:	learn: 0.0670429	total: 1m 13s	remaining: 4m
169:	learn: 0.0670376	total: 1m 14s	remaining: 3m 59s
170:	learn: 0.0670322	total: 1m 14s	remaining: 3m 59s
171:	learn: 0.0670312	total: 1m 14s	remaining: 3m 58s
172:	learn: 0.0670307	total: 1m 15s	remaining: 3m 57s
173:	learn: 0.0670258	total: 1m 15s	remaining: 3m 57s
174:	learn: 0.0670200	total: 1m 16s	remaining: 3m 56s
175:	learn: 0.0670188	total: 1m 16s	remaining: 3m 55s
176:	learn: 0.0670163	total: 1m 17s	remaining: 3m 57s
177:	learn: 0.0670134	total: 1m 17s	remaining: 3m 56s
178:	learn: 0.0670097	total: 1m 18s	remaining: 3m 56s
179:	learn: 0.0669985	total: 1m 18s	remaining: 3m 55s
180:	learn: 0.0669954	total: 1m 18s	remaining: 3m 54s
181:	learn: 0.0669863	total: 1m 19s	remaining: 3m 54s
182:	learn: 0.0669733	total: 1m 19s	remaining: 3m 53s
183:	learn: 0.0669695	total: 1m 20s	remaining: 3m 53s
184:	learn: 0.0669662	total: 1m 20s	remaining: 3m 52s
185:	learn: 0.0669649	total: 1m 20s	remaining: 3m 51s
186:	learn: 0.0669590	total: 1m 21s	remaining: 3m 51s
187:	learn: 0.0669541	total: 1m 21s	remaining: 3m 50s
188:	learn: 0.0669482	total: 1m 21s	remaining: 3m 49s
189:	learn: 0.0669462	total: 1m 22s	remaining: 3m 49s
190:	learn: 0.0669445	total: 1m 22s	remaining: 3m 48s
191:	learn: 0.0669359	total: 1m 22s	remaining: 3m 47s
192:	learn: 0.0669334	total: 1m 23s	remaining: 3m 47s
193:	learn: 0.0669306	total: 1m 23s	remaining: 3m 46s
194:	learn: 0.0669295	total: 1m 23s	remaining: 3m 46s
195:	learn: 0.0669145	total: 1m 24s	remaining: 3m 45s
196:	learn: 0.0669106	total: 1m 24s	remaining: 3m 45s
197:	learn: 0.0669065	total: 1m 25s	remaining: 3m 44s
198:	learn: 0.0669062	total: 1m 25s	remaining: 3m 43s
199:	learn: 0.0669044	total: 1m 25s	remaining: 3m 43s
200:	learn: 0.0669011	total: 1m 26s	remaining: 3m 42s
201:	learn: 0.0668972	total: 1m 26s	remaining: 3m 42s
202:	learn: 0.0668946	total: 1m 27s	remaining: 3m 43s
203:	learn: 0.0668943	total: 1m 28s	remaining: 3m 43s
204:	learn: 0.0668943	total: 1m 28s	remaining: 3m 42s
205:	learn: 0.0668927	total: 1m 28s	remaining: 3m 41s
206:	learn: 0.0668915	total: 1m 29s	remaining: 3m 40s
207:	learn: 0.0668899	total: 1m 29s	remaining: 3m 40s
208:	learn: 0.0668828	total: 1m 29s	remaining: 3m 40s
209:	learn: 0.0668815	total: 1m 30s	remaining: 3m 39s
210:	learn: 0.0668782	total: 1m 30s	remaining: 3m 38s
211:	learn: 0.0668719	total: 1m 31s	remaining: 3m 38s
212:	learn: 0.0668710	total: 1m 31s	remaining: 3m 37s
213:	learn: 0.0668684	total: 1m 31s	remaining: 3m 37s
214:	learn: 0.0668646	total: 1m 32s	remaining: 3m 36s
215:	learn: 0.0668632	total: 1m 32s	remaining: 3m 36s
216:	learn: 0.0668608	total: 1m 32s	remaining: 3m 35s
217:	learn: 0.0668599	total: 1m 33s	remaining: 3m 34s
218:	learn: 0.0668553	total: 1m 33s	remaining: 3m 34s
219:	learn: 0.0668464	total: 1m 34s	remaining: 3m 33s
220:	learn: 0.0668394	total: 1m 34s	remaining: 3m 33s
221:	learn: 0.0668364	total: 1m 34s	remaining: 3m 32s
222:	learn: 0.0668360	total: 1m 35s	remaining: 3m 32s
223:	learn: 0.0668327	total: 1m 35s	remaining: 3m 31s
224:	learn: 0.0668248	total: 1m 35s	remaining: 3m 31s
225:	learn: 0.0668181	total: 1m 36s	remaining: 3m 30s
226:	learn: 0.0668112	total: 1m 36s	remaining: 3m 30s
227:	learn: 0.0668099	total: 1m 37s	remaining: 3m 31s
228:	learn: 0.0668091	total: 1m 38s	remaining: 3m 31s
229:	learn: 0.0668080	total: 1m 38s	remaining: 3m 30s
230:	learn: 0.0668056	total: 1m 39s	remaining: 3m 30s
231:	learn: 0.0668046	total: 1m 39s	remaining: 3m 29s
232:	learn: 0.0668023	total: 1m 40s	remaining: 3m 29s
233:	learn: 0.0668008	total: 1m 40s	remaining: 3m 28s
234:	learn: 0.0667956	total: 1m 40s	remaining: 3m 28s
235:	learn: 0.0667929	total: 1m 41s	remaining: 3m 27s
236:	learn: 0.0667904	total: 1m 41s	remaining: 3m 27s
237:	learn: 0.0667865	total: 1m 42s	remaining: 3m 26s
238:	learn: 0.0667851	total: 1m 42s	remaining: 3m 26s
239:	learn: 0.0667843	total: 1m 43s	remaining: 3m 26s
240:	learn: 0.0667794	total: 1m 43s	remaining: 3m 25s
241:	learn: 0.0667782	total: 1m 43s	remaining: 3m 25s
242:	learn: 0.0667751	total: 1m 44s	remaining: 3m 24s
243:	learn: 0.0667713	total: 1m 44s	remaining: 3m 24s
244:	learn: 0.0667710	total: 1m 45s	remaining: 3m 24s
245:	learn: 0.0667678	total: 1m 45s	remaining: 3m 24s
246:	learn: 0.0667658	total: 1m 46s	remaining: 3m 24s
247:	learn: 0.0667619	total: 1m 47s	remaining: 3m 25s
248:	learn: 0.0667595	total: 1m 49s	remaining: 3m 26s
249:	learn: 0.0667548	total: 1m 49s	remaining: 3m 26s
250:	learn: 0.0667541	total: 1m 50s	remaining: 3m 25s
251:	learn: 0.0667534	total: 1m 50s	remaining: 3m 25s
252:	learn: 0.0667509	total: 1m 51s	remaining: 3m 25s
253:	learn: 0.0667467	total: 1m 51s	remaining: 3m 24s
254:	learn: 0.0667438	total: 1m 52s	remaining: 3m 24s
255:	learn: 0.0667392	total: 1m 52s	remaining: 3m 24s
256:	learn: 0.0667382	total: 1m 53s	remaining: 3m 23s
257:	learn: 0.0667313	total: 1m 53s	remaining: 3m 23s
258:	learn: 0.0667301	total: 1m 54s	remaining: 3m 23s
259:	learn: 0.0667267	total: 1m 54s	remaining: 3m 23s
260:	learn: 0.0667244	total: 1m 55s	remaining: 3m 23s
261:	learn: 0.0667207	total: 1m 56s	remaining: 3m 23s
262:	learn: 0.0667189	total: 1m 56s	remaining: 3m 22s
263:	learn: 0.0667176	total: 1m 57s	remaining: 3m 22s
264:	learn: 0.0667151	total: 1m 57s	remaining: 3m 22s
265:	learn: 0.0667130	total: 1m 58s	remaining: 3m 22s
266:	learn: 0.0667117	total: 1m 59s	remaining: 3m 22s
267:	learn: 0.0667076	total: 1m 59s	remaining: 3m 22s
268:	learn: 0.0667064	total: 2m 1s	remaining: 3m 23s
269:	learn: 0.0667055	total: 2m 1s	remaining: 3m 22s
270:	learn: 0.0667046	total: 2m 2s	remaining: 3m 22s
271:	learn: 0.0667029	total: 2m 2s	remaining: 3m 22s
272:	learn: 0.0666971	total: 2m 3s	remaining: 3m 22s
273:	learn: 0.0666932	total: 2m 4s	remaining: 3m 22s
274:	learn: 0.0666907	total: 2m 4s	remaining: 3m 21s
275:	learn: 0.0666861	total: 2m 5s	remaining: 3m 21s
276:	learn: 0.0666830	total: 2m 5s	remaining: 3m 21s
277:	learn: 0.0666781	total: 2m 6s	remaining: 3m 21s
278:	learn: 0.0666771	total: 2m 6s	remaining: 3m 20s
279:	learn: 0.0666771	total: 2m 7s	remaining: 3m 19s
280:	learn: 0.0666764	total: 2m 7s	remaining: 3m 19s
281:	learn: 0.0666595	total: 2m 8s	remaining: 3m 19s
282:	learn: 0.0666580	total: 2m 9s	remaining: 3m 20s
283:	learn: 0.0666551	total: 2m 10s	remaining: 3m 19s
284:	learn: 0.0666533	total: 2m 10s	remaining: 3m 19s
285:	learn: 0.0666522	total: 2m 11s	remaining: 3m 19s
286:	learn: 0.0666455	total: 2m 12s	remaining: 3m 19s
287:	learn: 0.0666441	total: 2m 12s	remaining: 3m 19s
288:	learn: 0.0666429	total: 2m 13s	remaining: 3m 18s
289:	learn: 0.0666416	total: 2m 14s	remaining: 3m 19s
290:	learn: 0.0666403	total: 2m 15s	remaining: 3m 19s
291:	learn: 0.0666364	total: 2m 15s	remaining: 3m 19s
292:	learn: 0.0666355	total: 2m 16s	remaining: 3m 19s
293:	learn: 0.0666332	total: 2m 17s	remaining: 3m 19s
294:	learn: 0.0666309	total: 2m 18s	remaining: 3m 19s
295:	learn: 0.0666286	total: 2m 18s	remaining: 3m 18s
296:	learn: 0.0666252	total: 2m 19s	remaining: 3m 18s
297:	learn: 0.0666214	total: 2m 19s	remaining: 3m 18s
298:	learn: 0.0666205	total: 2m 20s	remaining: 3m 17s
299:	learn: 0.0666169	total: 2m 21s	remaining: 3m 17s
300:	learn: 0.0666123	total: 2m 22s	remaining: 3m 18s
301:	learn: 0.0666090	total: 2m 22s	remaining: 3m 17s
302:	learn: 0.0666078	total: 2m 24s	remaining: 3m 18s
303:	learn: 0.0666058	total: 2m 25s	remaining: 3m 18s
304:	learn: 0.0665983	total: 2m 26s	remaining: 3m 19s
305:	learn: 0.0665967	total: 2m 28s	remaining: 3m 20s
306:	learn: 0.0665934	total: 2m 29s	remaining: 3m 20s
307:	learn: 0.0665901	total: 2m 29s	remaining: 3m 20s
308:	learn: 0.0665880	total: 2m 30s	remaining: 3m 20s
309:	learn: 0.0665737	total: 2m 31s	remaining: 3m 19s
310:	learn: 0.0665671	total: 2m 32s	remaining: 3m 20s

311:	learn: 0.0665643	total: 2m 33s	remaining: 3m 20s
312:	learn: 0.0665626	total: 2m 34s	remaining: 3m 21s
313:	learn: 0.0665578	total: 2m 35s	remaining: 3m 21s
314:	learn: 0.0665578	total: 2m 35s	remaining: 3m 20s
315:	learn: 0.0665562	total: 2m 36s	remaining: 3m 20s
316:	learn: 0.0665562	total: 2m 36s	remaining: 3m 19s
317:	learn: 0.0665554	total: 2m 37s	remaining: 3m 19s
318:	learn: 0.0665544	total: 2m 38s	remaining: 3m 19s
319:	learn: 0.0665452	total: 2m 40s	remaining: 3m 20s
320:	learn: 0.0665417	total: 2m 41s	remaining: 3m 20s
321:	learn: 0.0665351	total: 2m 42s	remaining: 3m 20s
322:	learn: 0.0665330	total: 2m 43s	remaining: 3m 20s
323:	learn: 0.0665257	total: 2m 43s	remaining: 3m 20s
324:	learn: 0.0665204	total: 2m 45s	remaining: 3m 20s
325:	learn: 0.0665190	total: 2m 45s	remaining: 3m 20s
326:	learn: 0.0665161	total: 2m 46s	remaining: 3m 20s
327:	learn: 0.0665105	total: 2m 47s	remaining: 3m 19s
328:	learn: 0.0665101	total: 2m 47s	remaining: 3m 19s
329:	learn: 0.0665082	total: 2m 48s	remaining: 3m 18s
330:	learn: 0.0665041	total: 2m 48s	remaining: 3m 18s
331:	learn: 0.0665030	total: 2m 49s	remaining: 3m 17s
332:	learn: 0.0665004	total: 2m 49s	remaining: 3m 17s
333:	learn: 0.0664942	total: 2m 50s	remaining: 3m 16s
334:	learn: 0.0664929	total: 2m 50s	remaining: 3m 16s
335:	learn: 0.0664924	total: 2m 51s	remaining: 3m 15s
336:	learn: 0.0664895	total: 2m 51s	remaining: 3m 15s
337:	learn: 0.0664882	total: 2m 52s	remaining: 3m 14s
338:	learn: 0.0664775	total: 2m 52s	remaining: 3m 13s
339:	learn: 0.0664761	total: 2m 53s	remaining: 3m 13s
340:	learn: 0.0664714	total: 2m 53s	remaining: 3m 13s
341:	learn: 0.0664688	total: 2m 54s	remaining: 3m 12s
342:	learn: 0.0664673	total: 2m 55s	remaining: 3m 13s
343:	learn: 0.0664664	total: 2m 56s	remaining: 3m 12s
344:	learn: 0.0664572	total: 2m 56s	remaining: 3m 12s
345:	learn: 0.0664568	total: 2m 57s	remaining: 3m 11s
346:	learn: 0.0664546	total: 2m 57s	remaining: 3m 10s
347:	learn: 0.0664479	total: 2m 58s	remaining: 3m 10s
348:	learn: 0.0664452	total: 2m 58s	remaining: 3m 9s
349:	learn: 0.0664443	total: 2m 58s	remaining: 3m 9s
350:	learn: 0.0664417	total: 2m 59s	remaining: 3m 8s
351:	learn: 0.0664384	total: 2m 59s	remaining: 3m 7s
352:	learn: 0.0664352	total: 3m	remaining: 3m 7s
353:	learn: 0.0664335	total: 3m	remaining: 3m 6s
354:	learn: 0.0664301	total: 3m 1s	remaining: 3m 6s
355:	learn: 0.0664267	total: 3m 1s	remaining: 3m 6s
356:	learn: 0.0664259	total: 3m 2s	remaining: 3m 5s
357:	learn: 0.0664220	total: 3m 3s	remaining: 3m 5s
358:	learn: 0.0664154	total: 3m 4s	remaining: 3m 5s
359:	learn: 0.0664126	total: 3m 4s	remaining: 3m 4s
360:	learn: 0.0664112	total: 3m 5s	remaining: 3m 4s
361:	learn: 0.0664046	total: 3m 5s	remaining: 3m 3s
362:	learn: 0.0663951	total: 3m 6s	remaining: 3m 3s
363:	learn: 0.0663924	total: 3m 7s	remaining: 3m 2s
364:	learn: 0.0663911	total: 3m 8s	remaining: 3m 3s
365:	learn: 0.0663904	total: 3m 9s	remaining: 3m 3s
366:	learn: 0.0663806	total: 3m 10s	remaining: 3m 2s
367:	learn: 0.0663795	total: 3m 10s	remaining: 3m 2s
368:	learn: 0.0663781	total: 3m 11s	remaining: 3m 1s
369:	learn: 0.0663742	total: 3m 11s	remaining: 3m 1s
370:	learn: 0.0663730	total: 3m 12s	remaining: 3m 1s
371:	learn: 0.0663690	total: 3m 13s	remaining: 3m
372:	learn: 0.0663635	total: 3m 14s	remaining: 3m
373:	learn: 0.0663545	total: 3m 14s	remaining: 3m
374:	learn: 0.0663526	total: 3m 15s	remaining: 2m 59s
375:	learn: 0.0663514	total: 3m 16s	remaining: 2m 59s
376:	learn: 0.0663468	total: 3m 16s	remaining: 2m 59s
377:	learn: 0.0663418	total: 3m 18s	remaining: 2m 59s
378:	learn: 0.0663406	total: 3m 18s	remaining: 2m 58s
379:	learn: 0.0663372	total: 3m 19s	remaining: 2m 58s
380:	learn: 0.0663369	total: 3m 19s	remaining: 2m 57s
381:	learn: 0.0663345	total: 3m 20s	remaining: 2m 57s
382:	learn: 0.0663283	total: 3m 21s	remaining: 2m 56s
383:	learn: 0.0663255	total: 3m 21s	remaining: 2m 56s
384:	learn: 0.0663231	total: 3m 22s	remaining: 2m 55s
385:	learn: 0.0663199	total: 3m 22s	remaining: 2m 55s
386:	learn: 0.0663190	total: 3m 22s	remaining: 2m 54s
387:	learn: 0.0663190	total: 3m 23s	remaining: 2m 53s
388:	learn: 0.0663175	total: 3m 23s	remaining: 2m 53s
389:	learn: 0.0663138	total: 3m 24s	remaining: 2m 53s
390:	learn: 0.0663079	total: 3m 26s	remaining: 2m 53s
391:	learn: 0.0663035	total: 3m 26s	remaining: 2m 53s
392:	learn: 0.0663020	total: 3m 27s	remaining: 2m 52s
393:	learn: 0.0663005	total: 3m 27s	remaining: 2m 52s
394:	learn: 0.0662997	total: 3m 28s	remaining: 2m 51s
395:	learn: 0.0662932	total: 3m 28s	remaining: 2m 50s
396:	learn: 0.0662895	total: 3m 29s	remaining: 2m 50s
397:	learn: 0.0662858	total: 3m 30s	remaining: 2m 49s
398:	learn: 0.0662837	total: 3m 30s	remaining: 2m 49s
399:	learn: 0.0662801	total: 3m 31s	remaining: 2m 48s
400:	learn: 0.0662779	total: 3m 31s	remaining: 2m 48s
401:	learn: 0.0662764	total: 3m 31s	remaining: 2m 47s
402:	learn: 0.0662737	total: 3m 32s	remaining: 2m 47s
403:	learn: 0.0662686	total: 3m 32s	remaining: 2m 46s
404:	learn: 0.0662623	total: 3m 33s	remaining: 2m 46s
405:	learn: 0.0662595	total: 3m 33s	remaining: 2m 45s
406:	learn: 0.0662574	total: 3m 34s	remaining: 2m 44s
407:	learn: 0.0662509	total: 3m 35s	remaining: 2m 44s
408:	learn: 0.0662409	total: 3m 35s	remaining: 2m 44s
409:	learn: 0.0662352	total: 3m 36s	remaining: 2m 43s
410:	learn: 0.0662255	total: 3m 37s	remaining: 2m 43s
411:	learn: 0.0662223	total: 3m 38s	remaining: 2m 43s
412:	learn: 0.0662175	total: 3m 38s	remaining: 2m 42s
413:	learn: 0.0662143	total: 3m 39s	remaining: 2m 42s
414:	learn: 0.0662111	total: 3m 40s	remaining: 2m 41s
415:	learn: 0.0662102	total: 3m 40s	remaining: 2m 41s
416:	learn: 0.0662040	total: 3m 40s	remaining: 2m 40s
417:	learn: 0.0662027	total: 3m 41s	remaining: 2m 39s
418:	learn: 0.0661952	total: 3m 41s	remaining: 2m 39s
419:	learn: 0.0661937	total: 3m 42s	remaining: 2m 38s
420:	learn: 0.0661926	total: 3m 42s	remaining: 2m 38s
421:	learn: 0.0661918	total: 3m 43s	remaining: 2m 37s
422:	learn: 0.0661898	total: 3m 43s	remaining: 2m 37s
423:	learn: 0.0661852	total: 3m 44s	remaining: 2m 36s
424:	learn: 0.0661783	total: 3m 44s	remaining: 2m 35s
425:	learn: 0.0661753	total: 3m 45s	remaining: 2m 35s
426:	learn: 0.0661685	total: 3m 45s	remaining: 2m 34s
427:	learn: 0.0661655	total: 3m 46s	remaining: 2m 34s
428:	learn: 0.0661636	total: 3m 47s	remaining: 2m 34s
429:	learn: 0.0661614	total: 3m 48s	remaining: 2m 33s
430:	learn: 0.0661572	total: 3m 48s	remaining: 2m 33s
431:	learn: 0.0661427	total: 3m 49s	remaining: 2m 32s
432:	learn: 0.0661406	total: 3m 49s	remaining: 2m 32s
433:	learn: 0.0661385	total: 3m 50s	remaining: 2m 31s
434:	learn: 0.0661366	total: 3m 50s	remaining: 2m 30s
435:	learn: 0.0661347	total: 3m 50s	remaining: 2m 30s
436:	learn: 0.0661282	total: 3m 51s	remaining: 2m 29s
437:	learn: 0.0661201	total: 3m 51s	remaining: 2m 29s
438:	learn: 0.0661125	total: 3m 52s	remaining: 2m 28s
439:	learn: 0.0661115	total: 3m 52s	remaining: 2m 28s
440:	learn: 0.0661084	total: 3m 53s	remaining: 2m 27s
441:	learn: 0.0660976	total: 3m 53s	remaining: 2m 26s
442:	learn: 0.0660910	total: 3m 54s	remaining: 2m 26s
443:	learn: 0.0660855	total: 3m 54s	remaining: 2m 25s
444:	learn: 0.0660800	total: 3m 55s	remaining: 2m 25s
445:	learn: 0.0660795	total: 3m 55s	remaining: 2m 24s
446:	learn: 0.0660734	total: 3m 56s	remaining: 2m 24s
447:	learn: 0.0660687	total: 3m 57s	remaining: 2m 24s
448:	learn: 0.0660636	total: 3m 58s	remaining: 2m 23s
449:	learn: 0.0660628	total: 3m 58s	remaining: 2m 23s
450:	learn: 0.0660609	total: 3m 59s	remaining: 2m 22s
451:	learn: 0.0660553	total: 4m	remaining: 2m 22s
452:	learn: 0.0660485	total: 4m	remaining: 2m 21s
453:	learn: 0.0660479	total: 4m 1s	remaining: 2m 21s
454:	learn: 0.0660473	total: 4m 2s	remaining: 2m 20s
455:	learn: 0.0660418	total: 4m 2s	remaining: 2m 20s
456:	learn: 0.0660330	total: 4m 3s	remaining: 2m 19s
457:	learn: 0.0660291	total: 4m 3s	remaining: 2m 19s
458:	learn: 0.0660282	total: 4m 4s	remaining: 2m 18s
459:	learn: 0.0660242	total: 4m 4s	remaining: 2m 18s
460:	learn: 0.0660221	total: 4m 4s	remaining: 2m 17s
461:	learn: 0.0660204	total: 4m 5s	remaining: 2m 17s
462:	learn: 0.0660194	total: 4m 5s	remaining: 2m 16s
463:	learn: 0.0660113	total: 4m 6s	remaining: 2m 16s
464:	learn: 0.0660065	total: 4m 6s	remaining: 2m 15s

465:	learn: 0.0660034	total: 4m 7s	remaining: 2m 14s
466:	learn: 0.0659992	total: 4m 7s	remaining: 2m 14s
467:	learn: 0.0659967	total: 4m 8s	remaining: 2m 13s
468:	learn: 0.0659934	total: 4m 8s	remaining: 2m 13s
469:	learn: 0.0659912	total: 4m 9s	remaining: 2m 12s
470:	learn: 0.0659840	total: 4m 11s	remaining: 2m 12s
471:	learn: 0.0659819	total: 4m 11s	remaining: 2m 12s
472:	learn: 0.0659793	total: 4m 12s	remaining: 2m 11s
473:	learn: 0.0659737	total: 4m 12s	remaining: 2m 11s
474:	learn: 0.0659713	total: 4m 13s	remaining: 2m 10s
475:	learn: 0.0659675	total: 4m 13s	remaining: 2m 9s
476:	learn: 0.0659662	total: 4m 13s	remaining: 2m 9s
477:	learn: 0.0659612	total: 4m 14s	remaining: 2m 8s
478:	learn: 0.0659574	total: 4m 15s	remaining: 2m 8s
479:	learn: 0.0659565	total: 4m 15s	remaining: 2m 7s
480:	learn: 0.0659539	total: 4m 16s	remaining: 2m 7s
481:	learn: 0.0659515	total: 4m 17s	remaining: 2m 6s
482:	learn: 0.0659476	total: 4m 19s	remaining: 2m 7s
483:	learn: 0.0659469	total: 4m 20s	remaining: 2m 6s
484:	learn: 0.0659436	total: 4m 20s	remaining: 2m 6s
485:	learn: 0.0659380	total: 4m 21s	remaining: 2m 5s
486:	learn: 0.0659248	total: 4m 22s	remaining: 2m 5s
487:	learn: 0.0659155	total: 4m 22s	remaining: 2m 4s
488:	learn: 0.0659081	total: 4m 23s	remaining: 2m 4s
489:	learn: 0.0659030	total: 4m 24s	remaining: 2m 3s
490:	learn: 0.0658980	total: 4m 24s	remaining: 2m 3s
491:	learn: 0.0658975	total: 4m 25s	remaining: 2m 2s
492:	learn: 0.0658870	total: 4m 25s	remaining: 2m 2s
493:	learn: 0.0658825	total: 4m 26s	remaining: 2m 1s
494:	learn: 0.0658801	total: 4m 26s	remaining: 2m 1s
495:	learn: 0.0658787	total: 4m 27s	remaining: 2m
496:	learn: 0.0658740	total: 4m 27s	remaining: 2m
497:	learn: 0.0658704	total: 4m 28s	remaining: 1m 59s
498:	learn: 0.0658679	total: 4m 29s	remaining: 1m 59s
499:	learn: 0.0658645	total: 4m 29s	remaining: 1m 58s
500:	learn: 0.0658565	total: 4m 30s	remaining: 1m 58s
501:	learn: 0.0658444	total: 4m 31s	remaining: 1m 57s
502:	learn: 0.0658361	total: 4m 31s	remaining: 1m 57s
503:	learn: 0.0658349	total: 4m 32s	remaining: 1m 56s
504:	learn: 0.0658202	total: 4m 33s	remaining: 1m 56s
505:	learn: 0.0658175	total: 4m 34s	remaining: 1m 56s
506:	learn: 0.0658064	total: 4m 34s	remaining: 1m 55s
507:	learn: 0.0658053	total: 4m 35s	remaining: 1m 54s
508:	learn: 0.0657977	total: 4m 35s	remaining: 1m 54s
509:	learn: 0.0657874	total: 4m 36s	remaining: 1m 53s
510:	learn: 0.0657813	total: 4m 37s	remaining: 1m 53s
511:	learn: 0.0657729	total: 4m 38s	remaining: 1m 53s
512:	learn: 0.0657705	total: 4m 39s	remaining: 1m 52s
513:	learn: 0.0657699	total: 4m 39s	remaining: 1m 52s
514:	learn: 0.0657578	total: 4m 40s	remaining: 1m 51s
515:	learn: 0.0657489	total: 4m 42s	remaining: 1m 51s
516:	learn: 0.0657475	total: 4m 43s	remaining: 1m 51s
517:	learn: 0.0657432	total: 4m 43s	remaining: 1m 50s
518:	learn: 0.0657408	total: 4m 44s	remaining: 1m 50s
519:	learn: 0.0657323	total: 4m 45s	remaining: 1m 49s
520:	learn: 0.0657296	total: 4m 45s	remaining: 1m 49s
521:	learn: 0.0657239	total: 4m 46s	remaining: 1m 48s
522:	learn: 0.0657145	total: 4m 46s	remaining: 1m 47s
523:	learn: 0.0657052	total: 4m 47s	remaining: 1m 47s
524:	learn: 0.0656996	total: 4m 47s	remaining: 1m 46s
525:	learn: 0.0656930	total: 4m 48s	remaining: 1m 46s
526:	learn: 0.0656847	total: 4m 49s	remaining: 1m 46s
527:	learn: 0.0656819	total: 4m 50s	remaining: 1m 45s
528:	learn: 0.0656706	total: 4m 51s	remaining: 1m 45s
529:	learn: 0.0656677	total: 4m 51s	remaining: 1m 44s
530:	learn: 0.0656605	total: 4m 52s	remaining: 1m 44s
531:	learn: 0.0656541	total: 4m 53s	remaining: 1m 43s
532:	learn: 0.0656503	total: 4m 53s	remaining: 1m 43s
533:	learn: 0.0656399	total: 4m 54s	remaining: 1m 42s
534:	learn: 0.0656271	total: 4m 54s	remaining: 1m 41s
535:	learn: 0.0656224	total: 4m 55s	remaining: 1m 41s
536:	learn: 0.0656200	total: 4m 55s	remaining: 1m 40s
537:	learn: 0.0656068	total: 4m 56s	remaining: 1m 40s
538:	learn: 0.0656047	total: 4m 56s	remaining: 1m 39s
539:	learn: 0.0656003	total: 4m 57s	remaining: 1m 39s
540:	learn: 0.0655984	total: 4m 57s	remaining: 1m 38s
541:	learn: 0.0655910	total: 4m 58s	remaining: 1m 37s
542:	learn: 0.0655901	total: 4m 58s	remaining: 1m 37s
543:	learn: 0.0655825	total: 5m	remaining: 1m 37s
544:	learn: 0.0655753	total: 5m	remaining: 1m 36s
545:	learn: 0.0655730	total: 5m 1s	remaining: 1m 35s
546:	learn: 0.0655715	total: 5m 1s	remaining: 1m 35s
547:	learn: 0.0655606	total: 5m 2s	remaining: 1m 34s
548:	learn: 0.0655520	total: 5m 2s	remaining: 1m 34s
549:	learn: 0.0655501	total: 5m 2s	remaining: 1m 33s
550:	learn: 0.0655442	total: 5m 3s	remaining: 1m 33s
551:	learn: 0.0655337	total: 5m 3s	remaining: 1m 32s
552:	learn: 0.0655310	total: 5m 4s	remaining: 1m 31s
553:	learn: 0.0655297	total: 5m 4s	remaining: 1m 31s
554:	learn: 0.0655241	total: 5m 5s	remaining: 1m 30s
555:	learn: 0.0655156	total: 5m 5s	remaining: 1m 30s
556:	learn: 0.0655116	total: 5m 6s	remaining: 1m 29s
557:	learn: 0.0655103	total: 5m 6s	remaining: 1m 29s
558:	learn: 0.0655081	total: 5m 7s	remaining: 1m 28s
559:	learn: 0.0655026	total: 5m 7s	remaining: 1m 27s
560:	learn: 0.0654951	total: 5m 8s	remaining: 1m 27s
561:	learn: 0.0654908	total: 5m 8s	remaining: 1m 26s
562:	learn: 0.0654779	total: 5m 9s	remaining: 1m 26s
563:	learn: 0.0654737	total: 5m 10s	remaining: 1m 25s
564:	learn: 0.0654661	total: 5m 11s	remaining: 1m 25s
565:	learn: 0.0654631	total: 5m 11s	remaining: 1m 24s
566:	learn: 0.0654620	total: 5m 11s	remaining: 1m 24s
567:	learn: 0.0654607	total: 5m 12s	remaining: 1m 23s
568:	learn: 0.0654542	total: 5m 12s	remaining: 1m 23s
569:	learn: 0.0654500	total: 5m 13s	remaining: 1m 22s
570:	learn: 0.0654407	total: 5m 13s	remaining: 1m 21s
571:	learn: 0.0654373	total: 5m 14s	remaining: 1m 21s
572:	learn: 0.0654305	total: 5m 14s	remaining: 1m 20s
573:	learn: 0.0654234	total: 5m 15s	remaining: 1m 20s
574:	learn: 0.0654186	total: 5m 15s	remaining: 1m 19s
575:	learn: 0.0654155	total: 5m 16s	remaining: 1m 19s
576:	learn: 0.0654062	total: 5m 16s	remaining: 1m 18s
577:	learn: 0.0653990	total: 5m 16s	remaining: 1m 17s
578:	learn: 0.0653872	total: 5m 17s	remaining: 1m 17s
579:	learn: 0.0653856	total: 5m 18s	remaining: 1m 16s
580:	learn: 0.0653813	total: 5m 18s	remaining: 1m 16s
581:	learn: 0.0653774	total: 5m 19s	remaining: 1m 15s
582:	learn: 0.0653681	total: 5m 19s	remaining: 1m 15s
583:	learn: 0.0653643	total: 5m 20s	remaining: 1m 14s
584:	learn: 0.0653582	total: 5m 21s	remaining: 1m 14s
585:	learn: 0.0653534	total: 5m 21s	remaining: 1m 13s
586:	learn: 0.0653462	total: 5m 22s	remaining: 1m 13s
587:	learn: 0.0653410	total: 5m 23s	remaining: 1m 12s
588:	learn: 0.0653377	total: 5m 24s	remaining: 1m 12s
589:	learn: 0.0653306	total: 5m 24s	remaining: 1m 11s
590:	learn: 0.0653202	total: 5m 25s	remaining: 1m 11s
591:	learn: 0.0653189	total: 5m 26s	remaining: 1m 10s
592:	learn: 0.0653156	total: 5m 27s	remaining: 1m 10s
593:	learn: 0.0653144	total: 5m 27s	remaining: 1m 9s
594:	learn: 0.0653092	total: 5m 28s	remaining: 1m 9s
595:	learn: 0.0653073	total: 5m 29s	remaining: 1m 8s
596:	learn: 0.0653033	total: 5m 30s	remaining: 1m 8s
597:	learn: 0.0652967	total: 5m 31s	remaining: 1m 7s
598:	learn: 0.0652940	total: 5m 32s	remaining: 1m 7s
599:	learn: 0.0652932	total: 5m 33s	remaining: 1m 6s
600:	learn: 0.0652859	total: 5m 34s	remaining: 1m 6s
601:	learn: 0.0652826	total: 5m 34s	remaining: 1m 5s
602:	learn: 0.0652759	total: 5m 35s	remaining: 1m 5s
603:	learn: 0.0652731	total: 5m 36s	remaining: 1m 4s
604:	learn: 0.0652708	total: 5m 37s	remaining: 1m 4s
605:	learn: 0.0652689	total: 5m 37s	remaining: 1m 3s
606:	learn: 0.0652651	total: 5m 38s	remaining: 1m 3s
607:	learn: 0.0652619	total: 5m 39s	remaining: 1m 2s
608:	learn: 0.0652605	total: 5m 40s	remaining: 1m 2s
609:	learn: 0.0652541	total: 5m 41s	remaining: 1m 1s
610:	learn: 0.0652507	total: 5m 42s	remaining: 1m 1s
611:	learn: 0.0652497	total: 5m 43s	remaining: 1m
612:	learn: 0.0652402	total: 5m 44s	remaining: 1m
613:	learn: 0.0652382	total: 5m 45s	remaining: 59.6s
614:	learn: 0.0652354	total: 5m 46s	remaining: 59.1s
615:	learn: 0.0652302	total: 5m 47s	remaining: 58.6s
616:	learn: 0.0652253	total: 5m 47s	remaining: 58.1s
617:	learn: 0.0652240	total: 5m 48s	remaining: 57.6s
618:	learn: 0.0652212	total: 5m 49s	remaining: 57.1s

619:	learn: 0.0652200	total: 5m 50s	remaining: 56.6s
620:	learn: 0.0652151	total: 5m 52s	remaining: 56.1s
621:	learn: 0.0652113	total: 5m 53s	remaining: 55.6s
622:	learn: 0.0652091	total: 5m 53s	remaining: 55.1s
623:	learn: 0.0652064	total: 5m 54s	remaining: 54.6s
624:	learn: 0.0651998	total: 5m 55s	remaining: 54s
625:	learn: 0.0651985	total: 5m 56s	remaining: 53.5s
626:	learn: 0.0651953	total: 5m 56s	remaining: 52.9s
627:	learn: 0.0651935	total: 5m 57s	remaining: 52.4s
628:	learn: 0.0651875	total: 5m 58s	remaining: 51.9s
629:	learn: 0.0651801	total: 5m 59s	remaining: 51.4s
630:	learn: 0.0651732	total: 6m	remaining: 50.9s
631:	learn: 0.0651716	total: 6m 1s	remaining: 50.3s
632:	learn: 0.0651631	total: 6m 2s	remaining: 49.9s
633:	learn: 0.0651605	total: 6m 3s	remaining: 49.3s
634:	learn: 0.0651596	total: 6m 4s	remaining: 48.8s
635:	learn: 0.0651570	total: 6m 5s	remaining: 48.2s
636:	learn: 0.0651537	total: 6m 6s	remaining: 47.7s
637:	learn: 0.0651466	total: 6m 6s	remaining: 47.2s
638:	learn: 0.0651434	total: 6m 7s	remaining: 46.6s
639:	learn: 0.0651387	total: 6m 8s	remaining: 46s
640:	learn: 0.0651380	total: 6m 9s	remaining: 45.5s
641:	learn: 0.0651343	total: 6m 9s	remaining: 44.9s
642:	learn: 0.0651313	total: 6m 10s	remaining: 44.4s
643:	learn: 0.0651272	total: 6m 11s	remaining: 43.9s
644:	learn: 0.0651253	total: 6m 13s	remaining: 43.4s
645:	learn: 0.0651217	total: 6m 13s	remaining: 42.8s
646:	learn: 0.0651197	total: 6m 14s	remaining: 42.3s
647:	learn: 0.0651153	total: 6m 15s	remaining: 41.7s
648:	learn: 0.0651104	total: 6m 16s	remaining: 41.2s
649:	learn: 0.0651092	total: 6m 17s	remaining: 40.6s
650:	learn: 0.0650978	total: 6m 18s	remaining: 40.1s
651:	learn: 0.0650948	total: 6m 18s	remaining: 39.5s
652:	learn: 0.0650928	total: 6m 20s	remaining: 39s
653:	learn: 0.0650907	total: 6m 21s	remaining: 38.5s
654:	learn: 0.0650825	total: 6m 22s	remaining: 37.9s
655:	learn: 0.0650778	total: 6m 24s	remaining: 37.5s
656:	learn: 0.0650720	total: 6m 25s	remaining: 37s
657:	learn: 0.0650646	total: 6m 26s	remaining: 36.4s
658:	learn: 0.0650618	total: 6m 27s	remaining: 35.9s
659:	learn: 0.0650595	total: 6m 28s	remaining: 35.3s
660:	learn: 0.0650577	total: 6m 29s	remaining: 34.7s
661:	learn: 0.0650534	total: 6m 29s	remaining: 34.2s
662:	learn: 0.0650504	total: 6m 30s	remaining: 33.6s
663:	learn: 0.0650485	total: 6m 31s	remaining: 33s
664:	learn: 0.0650447	total: 6m 32s	remaining: 32.4s
665:	learn: 0.0650423	total: 6m 34s	remaining: 31.9s
666:	learn: 0.0650408	total: 6m 34s	remaining: 31.4s
667:	learn: 0.0650305	total: 6m 35s	remaining: 30.8s
668:	learn: 0.0650278	total: 6m 36s	remaining: 30.2s
669:	learn: 0.0650246	total: 6m 37s	remaining: 29.6s
670:	learn: 0.0650157	total: 6m 38s	remaining: 29.1s
671:	learn: 0.0650120	total: 6m 38s	remaining: 28.5s
672:	learn: 0.0650061	total: 6m 39s	remaining: 27.9s
673:	learn: 0.0649990	total: 6m 40s	remaining: 27.3s
674:	learn: 0.0649986	total: 6m 40s	remaining: 26.7s
675:	learn: 0.0649935	total: 6m 41s	remaining: 26.1s
676:	learn: 0.0649870	total: 6m 42s	remaining: 25.6s
677:	learn: 0.0649819	total: 6m 43s	remaining: 25s
678:	learn: 0.0649768	total: 6m 44s	remaining: 24.4s
679:	learn: 0.0649761	total: 6m 45s	remaining: 23.9s
680:	learn: 0.0649744	total: 6m 46s	remaining: 23.3s
681:	learn: 0.0649713	total: 6m 47s	remaining: 22.7s
682:	learn: 0.0649695	total: 6m 47s	remaining: 22.1s
683:	learn: 0.0649566	total: 6m 48s	remaining: 21.5s
684:	learn: 0.0649560	total: 6m 49s	remaining: 20.9s
685:	learn: 0.0649505	total: 6m 50s	remaining: 20.3s
686:	learn: 0.0649473	total: 6m 51s	remaining: 19.7s
687:	learn: 0.0649439	total: 6m 51s	remaining: 19.2s
688:	learn: 0.0649418	total: 6m 52s	remaining: 18.6s
689:	learn: 0.0649410	total: 6m 53s	remaining: 18s
690:	learn: 0.0649398	total: 6m 54s	remaining: 17.4s
691:	learn: 0.0649348	total: 6m 55s	remaining: 16.8s
692:	learn: 0.0649331	total: 6m 56s	remaining: 16.2s
693:	learn: 0.0649315	total: 6m 56s	remaining: 15.6s
694:	learn: 0.0649273	total: 6m 57s	remaining: 15s
695:	learn: 0.0649255	total: 6m 58s	remaining: 14.4s
696:	learn: 0.0649229	total: 6m 58s	remaining: 13.8s
697:	learn: 0.0649205	total: 6m 59s	remaining: 13.2s
698:	learn: 0.0649142	total: 7m	remaining: 12.6s
699:	learn: 0.0649129	total: 7m	remaining: 12s
700:	learn: 0.0649087	total: 7m 1s	remaining: 11.4s
701:	learn: 0.0649047	total: 7m 2s	remaining: 10.8s
702:	learn: 0.0649037	total: 7m 3s	remaining: 10.2s
703:	learn: 0.0649019	total: 7m 4s	remaining: 9.64s
704:	learn: 0.0648991	total: 7m 5s	remaining: 9.05s
705:	learn: 0.0648974	total: 7m 6s	remaining: 8.45s
706:	learn: 0.0648873	total: 7m 7s	remaining: 7.85s
707:	learn: 0.0648865	total: 7m 7s	remaining: 7.25s
708:	learn: 0.0648848	total: 7m 8s	remaining: 6.65s
709:	learn: 0.0648816	total: 7m 9s	remaining: 6.04s
710:	learn: 0.0648806	total: 7m 10s	remaining: 5.44s
711:	learn: 0.0648787	total: 7m 10s	remaining: 4.84s
712:	learn: 0.0648773	total: 7m 11s	remaining: 4.24s
713:	learn: 0.0648740	total: 7m 12s	remaining: 3.63s
714:	learn: 0.0648721	total: 7m 13s	remaining: 3.03s
715:	learn: 0.0648670	total: 7m 14s	remaining: 2.42s
716:	learn: 0.0648652	total: 7m 15s	remaining: 1.82s
717:	learn: 0.0648535	total: 7m 16s	remaining: 1.22s
718:	learn: 0.0648499	total: 7m 17s	remaining: 608ms
719:	learn: 0.0648448	total: 7m 18s	remaining: 0us

In [39]:
submission = pd.DataFrame({
    'ParcelId': test_df['ParcelId'],
})
test_dates = {
    '201611': pd.Timestamp('2016-10-31')
}
for label, test_date in test_dates.items():
    print("Predicting for: %s ... " % (label))
    submission[label] = y_pred
    
submission.to_csv(data_path + 'Model_3_CatBoost.csv', float_format='%.6f',index=False)

Predicting for: 201611 ...

In [40]:
predictions_model_3 = pd.read_csv(data_path + 'Model_3_CatBoost.csv')
predictions_model_3.head()

   ParcelId    201611
0  10754147  0.030659
1  10759547 -0.003619
2  10843547  0.075790
3  10859147  0.105809
4  10879947  0.020252